@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.rotate {
  animation: rotation 10s 1 linear;
}

a {
  display: inline-block;
}

.buttonEffect {
  font-size: .96rem;
  animation: glowBtn 1.4s ease-in-out infinite alternate;
}

@keyframes glowBtn {
  from {
    box-shadow: 0 0 3px #fff, 0 0 6px #fff, 0 0 9px #fff, 0 0 12px #fff;
  }

  to {
    box-shadow: 0 0 3px #1b6ec2, 0 0 6px #1b6ec2, 0 0 8px #1b6ec2, 0 0 8px #1b6ec2;
  }
}


.menuContainer {
}


div.dropdown-menu {
  padding: 0.6rem;
  font-size: .8rem;
  font-weight: 500;
  left: unset;
  right: 0;
  margin-top: 0.9rem;
  width: 12.8rem;
}

.mat-slide-toggle-content {
  vertical-align: bottom;
  display: inline-block;
  line-height: 24px;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

.dropdown-menu .mat-icon {
  vertical-align: bottom
}

