<div class="searchBlock">
  <img src="{{ globals.worldURLPath }}citizen/{{ globals.firstCitizen }}" class="defaultAvatorImg" height="160" crossorigin="anonymous" referrerpolicy="no-referrer" />
</div>
<h3 id="tableLabel">{{globals.worldName}} World - Missions &amp; Custom Buildings</h3>

<h6>View and evaluate missions and custom buidlings.</h6>

<!--<p *ngIf="!customComponent || !customComponent.tableView" class="fadeInAndOut loading"><em>Loading...</em></p>-->

<div class="tableControls" [ngClass]="{'showCustom': showCustom}">

  <div [hidden]="!globals.ownerAccount.wallet_active_in_world" class="newBuildingSlider">
    <mat-slide-toggle #alertSlide aria-labelledby="New Building Alert"
                      (change)="alertChange($event, ALERT_TYPE.NEW_BUILDING)"
                      [checked]="false">
    </mat-slide-toggle>
    <mat-label class="mat-slide-toggle-content">New Building Alert</mat-label>
  </div>

  <mat-form-field fxFlex="30%" class="tableFilter" [style.width.rem]=8 subscriptSizing="dynamic">
    <mat-label><i class="material-icons mdc-text-field__icon mdc-text-field__icon--leading" tabindex="0" role="button">search</i>Search</mat-label>
    <input matInput type="text" (keyup)="applyFilterCustom($event.target.value)" placeholder="" [formControl]="searchCustomTable" />
    <button *ngIf="searchCustomTable.value" matSuffix mat-icon-button aria-label="Clear" (click)="searchCustomTable.setValue(''); applyFilterCustom('');">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <div class="filterControls">
    <div class="activeFilter" fxLayout fxLayoutAlign="center center">
      <div>
        <mat-checkbox #buildingFilter
                      fxFlex="30%"
                      (change)="filterBuilding($event)">
          <img class="buildingImgSml" title="Land Parcels" src="./images/building.png">
          <span class="filterLabel" matBadge="{{ !customComponent ? 0 : customComponent.buildingCount }}" [ngClass]="{'largeBadge': !customComponent ? false : customComponent.buildingCount > 100 }" matBadgePosition="above after">Buildings</span>
        </mat-checkbox>
      </div>
    </div>

    <div class="activeFilter" fxLayout fxLayoutAlign="center center">
      <div>
        <mat-checkbox #parcelFilter
                      fxFlex="30%"
                      (change)="filterParcel($event)">
          <img class="buildingImgSml" title="Land Parcels" src="./images/Parcel.png">
          <span class="filterLabel" matBadge="{{ !customComponent ? 0 : customComponent.parcelCount }}" [ngClass]="{'largeBadge': !customComponent ? false : customComponent.parcelCount > 100 }" matBadgePosition="above after">Parcels</span>
        </mat-checkbox>
      </div>
    </div>
  </div>

</div>

<div class="missionControls tableControls" [ngClass]="{'showMission': showMission}">

  <mat-form-field fxFlex="30%" class="missionTable tableFilter" [style.width.rem]=8 subscriptSizing="dynamic">
    <mat-label><i class="material-icons mdc-text-field__icon mdc-text-field__icon--leading" tabindex="0" role="button">search</i>Search</mat-label>
    <input matInput type="text" (keyup)="applyFilterMission($event.target.value)" placeholder="" [formControl]="searchMissionTable" />
    <button *ngIf="searchMissionTable.value" matSuffix mat-icon-button aria-label="Clear" (click)="searchMissionTable.setValue(''); applyFilterMission('');">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>


  <div class="missionSummary">
    <div>
      <span class="summaryTitle">Missions : </span>
      <span class="missionCount">{{ !missionComponent ? 0 : missionComponent.missionCount }}</span>
    </div>
    <div>
      <span class="summaryTitle">Rewards : </span>
      <span>{{ !missionComponent ? 0 : missionComponent.missionReward }}<img class="mega" src="./images/coin-m.png" /></span>
    </div>
  </div>

  <mat-form-field fxFlex="30%" [style.width.rem]=12 subscriptSizing="dynamic" class="rewardFilter tableFilter">
    <mat-label>Hide Rewards < </mat-label>
    <input matInput numbersDecimalOnly (keyup)="applyFilterMissionRewardByKey($event.target.value)" (click)="applyFilterMissionReward($event.target.value)" placeholder="1" [formControl]="filterMissionByReward" />
    <button *ngIf="filterMissionByReward.value" matSuffix mat-icon-button aria-label="Clear" (click)="filterMissionByReward.setValue('');removeRewardFilterMission()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <div class="topDistrict" *ngIf="missionComponent && missionComponent.districtList">
    <span class="topDistrictLabal">Top Districts:</span>
    <div class="districtGroup">
      <div class="districtEle" *ngFor="let district of missionComponent.districtList;  index as districtIndex">
        <span class="districtNum">#{{district.id}}:</span>
        <span class="districtCount"> {{district.total}}</span>
      </div>
    </div>
  </div>
</div>

<p *ngIf="!missionComponent || !missionComponent.worldMission" class="fadeInAndOut loading"><em>Loading...</em></p>

<mat-tab-group (selectedTabChange)="changeTab($event)" [selectedIndex]="0" [ngClass]="{'extendTabMarginMobile': showMission}">

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="runningMan">directions_run</mat-icon>
      <span>Mission Desk</span>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <img class="buildingImgSml" title="Land Parcels" src="./images/building.png">
      <span>Custom Building</span>
    </ng-template>
  </mat-tab>
</mat-tab-group>

<div class="tabContent">
  <div class="missionDesk" [ngClass]="{'showMission': showMission}">       
      <app-mission-desk class="" (parcelFilterChange)="parcelFilterChange($event)" (buildingFilterChange)="buildingFilterChange($event)"></app-mission-desk>    
  </div>

  <div class="customBuilding" [ngClass]="{'showCustom': showCustom}">
    
    <app-tab-container-lazy [isOpen]="showCustom">
      <ng-template tab-extracted-body>
        <app-custom-building-table class="" (parcelFilterChange)="parcelFilterChange($event)" (buildingFilterChange)="buildingFilterChange($event)"></app-custom-building-table>
      </ng-template>
    </app-tab-container-lazy>

</div>
</div>


