/*** Top Right Avator ***/
.defaultAvatorImg {
  float: right;
  margin-top: -10px;
  z-index: 10;
  position: relative;
}
.loading{
  font-size: 17px;
  text-align: center;
}


.tabContent {
  position: relative;
  margin-left: -24px; /* due to use of absolute positioning of tabs for transition styling - need to match parent container padding to align*/
  right: -12px;
  min-height: 100px
}

.customBuilding, .missionDesk {
  overflow: hidden; /* Hide the element content, while height = 0 */
  height: 0;
  opacity: 0;
  transition: height 0ms 400ms, opacity 400ms 0ms;
  position: absolute;
  width: 100%
}
.tableControls {
  display: inline-block;
  margin: 0;
  opacity: 0;
  transition: height 0ms 400ms, opacity 400ms 0ms;
  height: 0;
  position: absolute;
  overflow: hidden;
}
.showCustom, .showMission {
  overflow: unset; /* show all content due to sticky header spec*/
  height: 100%;
  opacity: 1;
  transition: height 0ms 0ms, opacity 1000ms 0ms;
}
  .showMission.tableControls {
    margin-top: 30px;
  }
  .showCustom.tableControls {
    margin-top: 14px;
  }


.searchBlock {
  float: right;
  width: 160px;
  margin-top: 26px;
  height: 150px;
}

.buildingImgSml {
  height: 38px;
  margin-right: 5px;
  margin-top: -3px;
}

.filterControls {
  display: inline-block;
  margin-left: 20px;
}
.activeFilter {
  display: inline-block;
  margin-right: 30px;
  font-size: .9rem;
}
  .activeFilter .filterLabel {
    padding-right: 10px;
  }
  .activeFilter .largeBadge {
    padding-right: 30px;
  }
    .activeFilter .largeBadge .mat-badge-content {
      width: 44px;
    }


.newBuildingSlider{
  margin-bottom:18px;
}

.mat-mdc-tab-group{
  clear:both;
}
.runningMan{
  margin-right: 4px;
}

.tableFilter, .rewardFilter {
  vertical-align: top;
}
.missionSummary {
  display: inline-block;
  margin-left: 20px;
  width: 180px;
  margin-top: -3px;
}
.rewardFilter{
  margin-right: 18px 
}
.summaryTitle {
  font-weight: 500;
}
.mega{
  width: 18px;
  margin-top: -2px;
}
.districtGroup {

}
.topDistrict {
  display: inline-flex;
  align-items: flex-start;
  vertical-align: top;
  width:320px;
}
.topDistrictLabal {
  margin-right: 6px;
  font-weight: 500;
  flex-shrink: 0;
}
.districtEle {
  font-weight: bold;
  width: 100px;
  display: inline-block;
  margin-bottom: .1rem;
  padding: 1px;
  text-align: center;
  border: 1px;
  border-style: ridge;
}
.districtLink {
  opacity: .7;
}
.districtCount{
  opacity: .7;
}
.flexRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.flexColumn {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

/*** Link underline amine ***/
a {
  position: relative;
  text-decoration: none;
}



/* @keyframes duration | easing-function | delay | iteration-count | direction | fill-mode | play-state | name */
.fadeInAndOut {
  animation: fadeInOut 3s linear 1s 8;
}

@keyframes fadeInOut {
  0% {
    opacity: 1;
  }

  33% {
    opacity: .5;
  }
  50% {
    opacity: 0;
  }

  66% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}


@media only screen and (max-width: 426px) {

  .container{
    padding-right:0
  }

  h3 {
    font-size: 18px;
    text-wrap: nowrap;
  }

  h6 {
    font-size: 13px
  }
  .loading {
    font-size: 14px;
  }

  .defaultAvatorImg {
    height: 100px
  }
  .searchBlock {
    width: 160px;    
    height: 150px;
    position: absolute;
    right: 0;
  }

  .mat-mdc-tab-group {
    margin-top: 180px;
  }
  .extendTabMarginMobile{
    margin-top: 250px;
  }

  .filterControls {
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 12px;
  }
  .tableFilter {
    margin-bottom: 8px
  }
  .activeFilter {
    margin: 0 2rem 0 0;
    font-size: .8rem;
  }


  .missionControls {
    display: flex;
    flex-direction: column;
  }

  .missionSummary {
    margin-bottom: 0;
    margin-left: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 12px;
  }
    .missionSummary div {
      display: flex;
      flex-direction: row;
      width: 50%;
      justify-content: space-between;
    }
  .missionCount {
    width: 80px;
    text-align: center;
  }


  .missionControls.filterControls {
    order: 1;
  }
  .topDistrict {
    order: 2;
  }
  .missionTable {
    margin-top: 8px;
    order: 3;
  }
  .rewardFilter{
    order: 4;
  }


}
