<div class="transfer">
  <div class="inputSection">
    <mat-form-field [style.width.rem]=30 class="notchAdjust" appearance="outline" floatLabel="auto" subscriptSizing="dynamic">
      <mat-label>Address </mat-label>

      <input id="addressKey"
             matInput
             class="plotx"
             [formControl]="addressKeyControl"
             type='text'
             #address />

      <button *ngIf="addressKeyControl.value" matSuffix mat-icon-button aria-label="Clear" (click)="addressKeyControl.setValue(''); progressCaption=''; resetPlayerList()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <div class="playerSelection">
      <span>Or select by:</span>
      <app-player-menu class="playerNameList" (selectPlayerEvent)="addressKeyControl.setValue($event)"></app-player-menu>
    </div>

    <mat-label class="progressCaption">{{ progressCaption }}</mat-label>
    
  </div>

  <div class="buttonContainer">
    <i #transferIcon [ngClass]="{'rotate': rotateActive }" class="fas fa-sync-alt transferIcon" style=""></i>
    <button mat-raised-button color="primary" id="buttonTransfer" class="buttonEffect" (click)="transferSendMatic(addressKeyControl.value)">Send</button>
  </div>
</div>
