.transfer {
  display: flex;
  justify-content: space-evenly;
  margin: 18px 12px 18px 12px;
  font-size: 16px !important
}

.transferIcon {
  font-size: 1rem;
  margin-left: 8px;
  margin-top: 9px;
  position: absolute;
  color: white;
  z-index: 1;  
}

.inputSection{
  display:flex;
  flex-direction:column;
  align-items: center;
}

.playerSelection{
  margin-top: 12px;
}
.playerNameList{
  margin-left: 8px;
}

.buttonContainer {
  margin-top: .6rem
}
#buttonTransfer{
  width: 6.3rem;
}

.buttonEffect {
  font-size: .96rem;
  animation: glowBtn 1.4s ease-in-out infinite alternate;
}

.rotate {
  animation: rotation 1s 30 linear;
}
