@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.rotate {
  animation: rotation 10s 1 linear;
}

a {
  display: inline-block;
}

.buttonEffect {
  font-size: .96rem;
  animation: glowBtn 1.4s ease-in-out infinite alternate;
}

@keyframes glowBtn {
  from {
    box-shadow: 0 0 3px #fff, 0 0 6px #fff, 0 0 9px #fff, 0 0 12px #fff;
  }

  to {
    box-shadow: 0 0 3px #1b6ec2, 0 0 6px #1b6ec2, 0 0 8px #1b6ec2, 0 0 8px #1b6ec2;
  }
}

div.dropdown-menu {
  min-width: 124px
}

.worldBtn span:last-child {
  vertical-align:middle;
}
.iconContain{
  width: 28px;
  text-align: center;
  display: inline-block;
}
.coinIcon {
  height: 22px;
  margin-right: 0.4rem;
}

@media only screen and (max-width: 415px) {

  div.dropdown-menu {
    margin-left: -10px;
    min-width: 90px;
  }
}




