.rotate {
  animation: rotation 10s 1 linear;
}

a {
  display: inline-block;
}

.buttonEffect {
  font-size: .96rem;
  animation: glowBtn 1.4s ease-in-out infinite alternate;
}

div.dropdown-menu {
  min-width: 124px
}

.worldBtn span:last-child {
  vertical-align:middle;
}
.iconContain{
  width: 28px;
  text-align: center;
  display: inline-block;
}
.coinIcon {
  height: 22px;
  margin-right: 0.4rem;
}

@media only screen and (max-width: 426px) {

  div.dropdown-menu {
    margin-left: -10px;
    min-width: 90px;
  }
}




