

<div class="search" style="display:none">
  <div style="margin-bottom:6px;">

    <div ngbDropdown class="d-inline-block">
      <button mat-raised-button color="primary" class="buttonEffect" id="dropdownBasic1" ngbDropdownToggle>{{selectedWorldName}}</button>

      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">     
        <button class="worldBtn" *ngFor="let world of worldNamelist" ngbDropdownItem (click)="setWorldVar(world.id, world.name)">
          <span class="iconContain"><img class="coinIcon" src="./assets/{{world.id==1 ? 'tron' : world.id==2 ? 'bnb' : 'eth' }}.png" /></span>
          <span>{{world.name}}</span>
        </button>
      </div>
    </div>

  </div>

</div>
