.rotate {
  animation: rotation 1s 1 linear;
}

a {
  display: inline-block;
}

.countOffer {
  float:right;
  color: lightgray;
  font-size: .8em;
  margin-right: 50px;
  margin-top: 8px;
}

.table-container {
  margin: 0px 6px 0px 10px;
  padding-top: 20px;
}

tr.mat-mdc-header-row {
  height: 38px
}

.paginatorContainer {
  width: 360px;
  height: 42px;
  margin-top: -8px;
  overflow: hidden;
}

.closeframe {
  position: absolute;
  top: 6px;
  right: 6px;
  color: black;
  z-index: 1001;
}

.offerTable {
  font-size: 14px;
  margin: 0.2rem .4rem 0 .4rem
}

  .offerTable div {
    line-height: 1.8em;
  }

.totalEle{
  margin-right: 6px
}

.summarydata {
  font-weight: 500;
}
.summaryLabel {
  color: rgba(0, 0, 0, 0.54)
}

td.mat-column-buyer_matic_key {
  vertical-align: bottom;
  padding-right: .3rem;
}


.mat-column-buyer_matic_key a {
  display: inline-block;
  padding: unset;
  vertical-align: text-bottom;
  margin-left: 2.1rem;
}

  .mat-column-buyer_matic_key a span {
    width: 4rem;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }

    .mat-column-buyer_matic_key a span:hover {
      text-overflow: unset;
      transition: 1s;
    }

.mat-column-buyer_matic_key img {
  display: inline-block;
  vertical-align: super;
}

.mat-column-offer_date{
  padding-left: 10px;
  padding-right: 14px;
}

td.mat-column-buyer_offer{
  text-align:center
}

.ownerImgCol {
  position: absolute;
  margin-top: -10px;
  margin-left:-.1rem;
}

.mat-column-token_district{
  padding-left: .3rem;
  text-align: center;
}
td.mat-column-token_district {
  padding-left: .6rem;
}

.lastUpdated {
  vertical-align: middle;
  font-size: .7rem;
  /*position: absolute;*/
  margin-left: 1.2rem;
  margin-top: 0.4rem;
  color: gray;
}

  .lastUpdated .mat-icon {
    font-size: 1.4rem;
  }

  .lastUpdated span {
    vertical-align: super;
  }



@media only screen and (max-width: 426px) {
  .modalFrame {
    left: 1%;
    bottom: unset;
  }

  .table-container {
    margin-left: 0;
    margin-right: 0;
  }

  .mat-column-buyer_matic_key a span {
    width: 2.4rem;
  }

  .mat-column-buyer_matic_key a span.maticLink {
    width: 2.5rem;
  }  

  .mat-column-offer_date {
    padding-left: 12px !important
  }
  .mat-column-token_district, td.mat-column-token_district {
    padding-left: 0;
    padding-right: 8px;
  }

  td.mat-mdc-cell {
    font-size: .74rem;
    font-weight: 500;
  }

    td.mat-mdc-cell:last-of-type, td.mat-mdc-footer-cell:last-of-type, th.mat-mdc-header-cell:last-of-type {
      padding-right: 10px
    }

}
