.menuContainer {
  margin-left: 1rem;
}

.ownerImg {
  border-radius: 50%;
}
  .ownerImg:hover {
    cursor: pointer;
  }
.mysteryDark {
  background-color: wheat;
}

.dropdownContainer {
  height: 60px;
  width: 10.6rem;
  right: 0;
  left: unset;
  border: 0;
  margin: 0;
  height: 60px;
  background: none;
  margin: -2px;
  right: 2px;
}

.ownerPanel {
  display: block;
  padding: 0.6rem;
  font-size: .8rem;
  font-weight: 500;
  left: unset;
  right: 0;
  width: 10.6rem;
  margin-top: 2px;
}

.mat-slide-toggle-content {
  vertical-align: bottom;
  display: inline-block;
  line-height: 24px;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}
.ownerPanel .mat-icon {
  vertical-align: bottom
}

@media only screen and (max-width: 415px) {

  .menuContainer {
    margin-left: 0;
  }

  div.dropdown-menu.show {
    display: inline-block;
    margin-left: 1rem;
    margin-top: 1.2rem;
  }

  .ownerImg {
    margin-left: 1rem;
    margin-bottom: 0.6rem;
    margin-top: 0.6rem;
    vertical-align: top;
    height: 52px
  }
}

