.menuContainer {
  margin-left: 1.1rem;  
}

.avatarLink {
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  padding: 4px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  width: 43px;
  text-align: center;
  border-color: rgba(var(--rgb), var(--alpha));
  border-right-color: rgba(21,101,192,1);
  border-bottom-color: rgba(21,101,192,1);
  border-top-color: rgba(21,101,192,1);
}
  .avatarLink:hover {
    cursor: pointer;
    /*border-color: rgba(var(--rgb), .3);*/
  }


.ownerImg {
  border-radius: 50%;
  height: 34px
}
  
.mysteryDark {
  background-color: wheat;
}

.dropdownContainer {
  height: 60px;
  right: 0;
  left: unset;
  border: 0;
  margin: 0;
  height: 60px;
  background: none;
  margin: -2px;
}

.menuItem {
  height: 37px;
  padding: 7px;
  vertical-align: middle;
  cursor:pointer;
}
  .menuItem:hover {
    border-radius: 5px;
  }

.ownerPanel {
  display: block;
  padding: 6px;
  font-size: .8rem;
  font-weight: 500;
  left: unset;
  right: 0;
  width: 180px;
  margin-top: 2px;
}

.menuLink{
  padding-left: 4.8px;
  vertical-align: text-bottom;
}

.mat-slide-toggle-content {
  display: inline-block;
  line-height: 24px;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}
.ownerPanel .mat-icon {
  vertical-align: bottom
}


@media only screen and (max-width: 426px) {

  .menuContainer {
    position: absolute;
    right: 10px;
    bottom: 0;
  }

  div.dropdown-menu.show2 {
    display: inline-block;
    margin-left: 1rem;
    margin-top: 1.2rem;
  }
  .avatarLink {
    display:none
  }
  .dropdownContainer {
    display: inline-block;
    margin: 0;
    height: unset;
  }
  .ownerPanel{
    padding: 0;
    margin-top: 0;
    width: unset;
    border: unset;
    font-size: unset;
    font-weight: unset;
    background: unset;
  }
  .menuItem {
    padding: 8px 0 8px 0;
    height: unset;
  }
}

