.accountContainer {
  background-color: midnightblue;
  color: white;
  height: 2rem;
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 11;
}

.promptLink {
  color: white;
  margin-bottom: 0.3rem;
  position: relative;
  line-height: 2.2rem;
  cursor: pointer;
  z-index: 12;
}

.barContainer{
  margin-bottom: 1rem;
}

.tronLinkLogin{
  display:none
}

@media (max-width: 415px) {

  .accountContainer{
    height: 3rem;
  }
  .promptLink {
    font-size: .8rem;
    line-height: 1.3rem;
    padding-top: 0.2rem;
  }
}
