@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.rotate {
  animation: rotation 1s 1 linear;
}

a {
  display: inline-block;
}

.count {
  float: right;
  color: lightslategray;
  font-size: .8em;
  font-weight: 500;
  margin-right: 50px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.table-container {
  margin: 0px 1em .6em 1em;
  width: 360px;
}

tr.mat-header-row {
  height: 38px
}

.paginatorContainer {
  width: 360px;
  height: 2.2em;
  margin-top: -8px;  
}

.closeframe {
  position: absolute;
  top: 6px;
  right: 6px;
  color: black;
  z-index: 1001;
}


.mat-column-name, .mat-column-token_id {
  padding-right: 1em
}

.mat-column-token_id{
  width:70px;
}

.mat-column-name {
  width: 140px;
  vertical-align: middle;
}
  td.mat-column-name span {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    vertical-align: middle;
    padding-left:.2rem;
  }
  td.mat-column-name img {   
    width:38px;
    height:38px;
  }
.mat-column-level {
  padding-right: 0.8rem;
  padding-left: 1rem;
}

.topBtnDiv {
  margin: 1rem 1rem .8rem;
}

.copy {
  font-size:.74rem;
  width: 148px;
  padding-left: 1.7rem;
  
}
.topBtnDiv i {
  font-size: 1rem;
  margin-left: 8px;
  margin-top: 9px;
  position: absolute;
  color: white;
  z-index: 1;
}

.lastUpdated {
  vertical-align: middle;
  font-size: .7rem;
  /*position: absolute;*/
  margin-left: 1.5rem;
  margin-top: 1rem;
  color: gray;
  margin-bottom: -0.6rem;
}

  .lastUpdated .mat-icon {
    font-size: 1.4rem;
  }

  .lastUpdated span {
    vertical-align: super;
  }


@media only screen and (max-width: 415px) {
  .modalFrame {
    left: 1%;
    bottom: unset;
  }

  .table-container {
    margin-left: 0;
    margin-right: 0;
  }

  .mat-column-buyer_matic_key a span {
    width: 2.4rem;
  }

    .mat-column-buyer_matic_key a span.maticLink {
      width: 2.5rem;
    }

  .mat-column-offer_date {
    padding-left: 12px !important
  }

  .mat-column-token_district, td.mat-column-token_district {
    padding-left: 0;
    padding-right: 8px;
  }

  td.mat-cell {
    font-size: .74rem;
    font-weight: 500;
  }

    td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
      padding-right: 10px
    }
}
