@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
  }
}

.rotate {
  -webkit-animation: rotation 1s 1 linear;
}

a {
  display: inline-block;
}

.modalFrame {
  margin-top:20px;
  text-align: left;
  min-height: 50px;
  border: solid 1px #ccc;
  position: fixed;
  padding-bottom: 10px;
  left: 10%;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  z-index: 1000;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

  .modalFrame:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }


.count {
  float: right;
  color: lightslategray;
  font-size: .8em;
  font-weight: 500;
  margin-right: 50px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.table-container {
  margin: 0px 1em .6em 1em;
  width: 360px;
}

tr.mat-header-row {
  height: 38px
}

.paginatorContainer {
  width: 360px;
  height: 2.2em;
  margin-top: -8px;  
}

.closeframe {
  position: absolute;
  top: 6px;
  right: 6px;
  color: black;
  z-index: 1001;
}

  .closeframe:hover {
    color: orangered;
  }


.mat-column-trait, .mat-column-name, .mat-column-token_id {
  padding-right: 1em
}

.mat-column-name {
  width: 135px;
  vertical-align: middle;
}
  .mat-column-name span {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    vertical-align: middle;
  }







@media only screen and (max-width: 415px) {
  .modalFrame {
    left: 1%;
    bottom: unset;
  }

  .table-container {
    margin-left: 0;
    margin-right: 0;
  }

  .mat-column-buyer_matic_key a span {
    width: 2.4rem;
  }

    .mat-column-buyer_matic_key a span.maticLink {
      width: 2.5rem;
    }

  .mat-column-offer_date {
    padding-left: 12px !important
  }

  .mat-column-token_district, td.mat-column-token_district {
    padding-left: 0;
    padding-right: 8px;
  }

  td.mat-cell {
    font-size: .74rem;
    font-weight: 500;
  }

    td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
      padding-right: 10px
    }
}
