<div class="containerDialog">
  <div class="moduleHeader">
    <span>Deposit Mega to MegaWorld, Skip Allowance Sign & Reduce gas fees. </span>
    <a class="lineAnim" href="https://link.medium.com/QTboeVqriFb" target="_blank"><mat-icon class="book">library_books</mat-icon>About Article</a>
  </div>
  <div class="containerTop">
    <div class="balanceInfo">
      <div class="balanceLabel"><span>Account Mega Balance:</span></div>
      <div class="balanceCoin">
        <img class="mega" src="./images/coin-m.png" />
        <span class="amount">{{ accountMCPMegaBalance }}</span>
      </div>
    </div>
    <div class="balanceInfo">
      <div class="balanceLabel"><span>Mega Allowance:</span></div>
      <div class="balanceCoin">
        <img class="mega" src="./images/coin-m.png" />
        <span class="amount">{{ accountMCPMegaAllowance }}</span>
      </div>
    </div>
  </div>

  <div class="statusCheck">
    <i [ngClass]="{'rotate': checkingContract }" class="fas fa-sync-alt progressIcon"></i>
    <i [ngClass]="{'enabled': !contractWarning }" class="fas fa-check checkIcon"></i>
    <mat-icon class="contractWarning" [ngClass]="{'enabled': contractWarning }">info</mat-icon>
    <span>{{ contractCheckMsg }}</span>
  </div>
  <div class="statusCheck disabled" [ngClass]="{'enabled': networkCheckActive}">
    <i [ngClass]="{'rotate': networkChange }" class="fas fa-sync-alt progressIcon"></i>
    <i [ngClass]="{'enabled': !networkWarning && !networkChange}" class="fas fa-check checkIcon"></i>
    <mat-icon class="warning" [ngClass]="{'enabled': networkWarning && !networkChange }">info</mat-icon>
    <span>{{ networkMsg }}</span>
  </div>


  <section class="progressSection">
    <div class="hideProgress" [ngClass]="{'showProgress': transactionStarted}">
      <div class="progressData">
        <mat-icon class="warning" [ngClass]="{'enabled': progressWarning }">info</mat-icon>
        <label class="progressInfo"><i [ngClass]="{'rotate': processActive }" class="fas fa-sync-alt progressIcon"></i>{{ progressMsg }}</label>
      </div>
      <mat-progress-bar mode="buffer"
                        [value]="1"
                        [bufferValue]="100">
      </mat-progress-bar>
    </div>
  </section>


  <div class="containerAction">
    <div class="actionMega" [ngClass]="{'backgroundNoFocus': !depositFocus}" (click)="withdrawFocus = false; depositFocus = true;">
      <div class="balanceLabel"><span>Deposit Direct into your MCP Account</span></div>

      <mat-form-field [style.width.rem]=14 class="notchAdjust inputAmount" appearance="outline" floatLabel="auto" subscriptSizing="dynamic">
        <mat-label>Mega</mat-label>

        <input id="amountDeposit"
               numbersDecimalOnly
               autocomplete="off"
               maxlength="12"
               matInput
               class=""
               autofocus
               (focus)="withdrawFocus = false; depositFocus = true;"
               [formControl]="amountDepositControl"
               type='text' />

        <mat-error *ngIf="amountDepositControl.hasError('min')">
          Deposit needs an amount
        </mat-error>
        <mat-error *ngIf="amountDepositControl.hasError('max')">
          {{ insufficientMsg }}
        </mat-error>
      </mat-form-field>

      <div class="balanceLabel megaBalance">
        <span>{{ accountMCPMegaBalance }}</span>
        <img class="megaSmall" src="./images/coin-m.png" />
        <span> Available</span>
      </div>

      <div class="buttonContainer">
        <i [ngClass]="{'rotate': depositRotateActive }" class="fas fa-sync-alt transferIcon"></i>
        <button mat-raised-button color="primary" class="buttonEffect" (click)="depositMegaToMCP()" [disabled]="checkInvalidDeposit">Deposit</button>
      </div>

    </div>

  </div>

</div>
