<div class="histroyframe" cdkDrag style="display:inline-table;text-align:left;">

  <div class="title">
    <span *ngIf="historyBuildingType!=6">Production History</span>
    <span *ngIf="historyBuildingType==6">Office History</span>
    <div class="targetPlot">(X:{{ plot.x }} Y:{{ plot.y }})</div>
  </div>
  <a class="closeframe" (click)="setHide()"><i class="far fa-window-close fa-2x" role="button"></i></a>

  <p class="loading" *ngIf="!history"><em>Searching...</em><i id="searchIcon" class="fas fa-sync-alt searchIcon rotate" style=""></i></p>

  <div class="historySummary" [hidden]="!history">

    <div class="summaryBlock" *ngIf="history && historyBuildingType!=6">
      <span class="summaryLabel">Total Produced:</span>
      <span class="summarydata produceRow">
        <span class="totalEle" *ngFor="let resource of history.totalProduced">
          <span>{{resource.name}} : </span>
          <span>{{resource.totalFormat}}</span>
        </span>
      </span>
      <div>
        <span class="summaryLabel">Runs:</span><span class="summarydata"> {{ history.run_count }}</span>
        <span class="summaryLabel col2">First Run:</span><span class="summarydata"> {{ history.start_production }}</span>
      </div>
    </div>

    <div [hidden]="globals.ownerAccount.pro_tools_enabled == false || historyBuildingType==6" class="predict" *ngIf="history && history.prediction && ipEfficiency >-1">
      <div>
        <span class="summaryLabel">Next Run Prediction:</span>
        <span *ngIf="history.prediction.total>0" class="predictionTotal"> {{ history.prediction.total }} </span>
        <span *ngIf="history.prediction.total>0" class="summaryLabel">( {{ history.prediction_product }} )</span>
        <span *ngIf="history.prediction.total==0" class="summaryWarning"><mat-icon class="summaryWarningIcon">info</mat-icon> {{ history.prediction.total_note }} </span>
      </div>
      <div #predictControl class="predictControl">
        <a *ngIf="!showCalcDetail" role="button" (click)="toggleDetail($event)"><span class="glowCalcText">Show Calculation</span><mat-icon>arrow_drop_down_circle</mat-icon></a>
        <a *ngIf="showCalcDetail" role="button" (click)="toggleDetail($event)"><span class="glowCalcText">Hide Calculation</span><mat-icon>arrow_drop_up</mat-icon></a>
      </div>
    </div>

    <div *ngIf="history && history.prediction" class="predictionDetail" [@predictionDetailExpand]="showCalcDetail ? 'expanded' : 'collapsed'">

      <div class="predictionDetailInner">

        <div class="predictionDetailHeader">
          <div>
            <span class="summaryLabel">Product:</span>
            <span class="summarydata">{{ history.prediction_product }}</span>
          </div>
          <div>
            <span class="summaryLabel">Base(Min):</span>
            <span class="summarydata">{{ history.prediction_base_min }}</span>
          </div>
          <div>
            <span class="summaryLabel">Max:</span>
            <span class="summarydata">{{ history.prediction_max }}</span>
          </div>
          <div>
            <span class="summaryLabel">Range:</span>
            <span class="summarydata gold">{{ history.prediction_range }}</span>
          </div>
        </div>

        <div class="predictionDetailCalc">
          <div>
            <span>Base(Min):</span>
            <span></span>
            <span class="summarydata">{{ history.prediction_base_min }}</span>
          </div>
          <div>
            <span>Citizen:</span>
            <span class="summarydata">
              <span matBadge="A" matBadgePosition="above before" matBadgeSize="small" matBadgeOverlap="false">
                {{ history.prediction.cit_efficiency }}%
              </span>
              <span class="multi"> * </span>
              {{ history.prediction.cit_range_percent}}%
              <span class="multi">=</span>
              <span class="predictTotal">{{ history.prediction.cit_efficiency_partial }}%</span>
            </span>
            <span class="summarydata"></span>
            <span class="summarydata">= {{ history.prediction.cit_produce }} {{ history.prediction_product }} : Max({{ history.prediction.cit_produce_max }})</span>
          </div>
          <div>
            <span>IP:</span>
            <span class="summarydata">
              <span matBadge="B" matBadgePosition="above before" matBadgeSize="small" matBadgeOverlap="false">
                {{ history.prediction.ip_efficiency }}%
              </span>
              <span class="multi"> * </span>
              {{ history.prediction.ip_range_percent}}%
              <span class="multi">=</span>
              <span class="predictTotal">{{ history.prediction.ip_efficiency_partial }}%</span>
            </span>
            <span class="summarydata"></span>
            <span class="summarydata">= {{ history.prediction.ip_produce_rounded }} {{ history.prediction_product }} : Max({{ history.prediction.ip_produce_max }})</span>
          </div>
          <div *ngIf="history.prediction.resource_lvl">
            <span>Resource Level {{ history.prediction.resource_lvl}}:</span>
            <span class="summarydata">
              {{ history.prediction.resource_lvl_percent }}%
              <span class="multi"> * </span>
              {{ history.prediction.resource_range_percent}}%
              <span class="multi">=</span>
              <span class="predictTotal">{{ history.prediction.resource_partial }}%</span>
            </span>
            <span class="summarydata"></span>
            <span class="summarydata">
              ({{ history.prediction.resource_lvl_produce_rounded }})
            </span>
          </div>
          <div>
            <span>Damage:</span>
            <span class="summarydata">
              <span matBadge="C" matBadgePosition="above before" matBadgeSize="small" matBadgeOverlap="false">{{ history.damage }} Dmg Points</span>
              <span class="multi"> = </span>
              {{ history.damage_eff_2Place }}%
            </span>
            <span class="summarydata"></span>
            <span class="summarydata"></span>
          </div>
          <div class="borderTop">
            <span>Formula :</span>
            <span class="summarydata nowarp formula">
              <!--<span matBadge=" {{isMobileView?'R':'Rnd'}} " matBadgePosition="above before" matBadgeSize="small" matBadgeOverlap="true">( </span> -->
              <span matBadge=" {{isMobileView?'R':'Rnd'}} " matBadgePosition="above after" matBadgeSize="small" matBadgeOverlap="true">( Condition% )</span> *
              <span matBadge=" {{isMobileView?'R':'Rnd'}} " matBadgePosition="above after" matBadgeSize="small" matBadgeOverlap="true">
                ( Citizen% + IP%
                <span *ngIf="history.prediction.resource_lvl"> + Resource%</span>
                <span> )</span>
              </span>
              <!--<span> )</span>-->
            </span>
            <span class="summarydata"></span>
            <span class="summarydata"></span>
          </div>
          <div>
            <span></span>
            <span class="summarydata">
              {{ history.condition_rounded }}%
              <span class="multi"> * </span>
              <span> {{ history.prediction.ip_and_cit_percent_rounded }}% </span>
              <span class="multi"> = </span>
              <span>{{ history.prediction.ip_and_cit_percent_dmg_rounded }}%</span>
            </span>
            <span class="summarydata"></span>
            <span class="summarydata">({{ history.prediction.ip_and_cit_percent_dmg }}%)</span>
          </div>
          <div>
            <span></span>
            <span class="summarydata">
              {{ history.prediction.ip_and_cit_percent_dmg_rounded }}%
              <span class="multi"> * </span>
              <span class="gold">{{ history.prediction_range}}</span>
            </span>
            <span class="summarydata">{{ history.prediction.ip_and_cit_produce_dmg_rounded}}</span>
            <span class="summarydata">({{ history.prediction.ip_and_cit_produce_dmg }})</span>
          </div>
          <!--
            <div>
              <span>Citizen & IP <span *ngIf="history.prediction.resource_lvl"> & Resource</span>:</span>
              <span class="summarydata"><span class="gold">{{ history.prediction_range}}</span><span class="multi"> * </span><span>{{ history.prediction.ip_and_cit_percent_rounded }}({{ history.prediction.ip_and_cit_percent }})%<span class="multi"> =</span></span></span>
              <span class="summarydata">{{ history.prediction.ip_and_cit_produce_rounded }}</span>
              <span class="summarydata">({{ history.prediction.ip_and_cit_produce }})</span>
            </div>
          -->
          <div>
            <span>Standard Produce:</span>            
            <span class="summarydata"></span>
            <span class="summarydata bottomTopBorder">{{ history.prediction.subtotal_rounded}}</span>
            <span class="summarydata">({{ history.prediction.subtotal }})</span>
          </div>
          <div>
            <span>POI Bonus:</span>
            <span class="summarydata">{{ history.prediction.subtotal_rounded }}<span class="multi"> * </span><span>{{ history.prediction.poi_bonus }}%<span class="multi"> =</span></span></span>
            <span class="summarydata">{{ history.prediction.poi_bonus_produce_rounded }}</span>
            <span class="summarydata">({{ history.prediction.poi_bonus_produce }})</span>
          </div>
          <div class="totalProduce">
            <span class="totalLabel">Total Produce (prediction next run):</span>
            <span class="summarydata"></span>
            <span class="summarydata">{{ history.prediction.total}}</span>
            <span class="summarydata">({{ history.prediction.total_decimal}}) {{ history.prediction_product }}</span>
          </div>
          <div>
            <span>Total Produce (100% Condition):</span>
            <span class="summarydata"></span>
            <span class="summarydata">{{ history.prediction.total_100}}</span>
            <span class="summarydata">{{ history.prediction.total_decimal_100 == history.prediction_max ? "MAX PRODUCT" : '(' + history.prediction.total_decimal_100 + ')'}}</span>
          </div>
          <div style="margin-top:.6rem">
            <div style="font-weight:500">
              Changes since last production run:
              <a class="lineAnim" role="button" (click)="refresh();">
                <span>( Refresh </span>
                <i #progressIcon class="fas fa-sync-alt progressIcon"></i>
                <i #progressFan class="fas fa-solid fa-fan progressFan rotateFan hideLink"></i>
                <span> )</span>
              </a>
            </div>
            <div *ngFor="let change of history.changes_last_run">
              {{ change }}
            </div>
          </div>
        </div>

      </div>      
    </div>

    <div class="table-container" [hidden]="!history" [ngClass]="{'officeTable': historyBuildingType==6}" >      
      <table mat-table [dataSource]="dataSourceHistory" matSort multiTemplateDataRows class="mat-elevation-z8" style="display:inline-table; width:100%">
        <!--table table-striped-->
        <ng-container matColumnDef="amount_produced">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
          <td mat-cell *matCellDef="let history">
            {{ history.amount_produced }}
          </td>
        </ng-container>
        <ng-container matColumnDef="building_product">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Product </th>
          <td mat-cell *matCellDef="let history">
            <span [hidden]="isMobileView">{{ history.building_product }}</span>
            <span [hidden]="!isMobileView">{{ history.building_product + '(' + history.amount_produced + ')' }}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="efficiency">
          <th mat-header-cell *matHeaderCellDef mat-sort-header title="Efficiency%"><span>Eff %</span></th>
          <td mat-cell *matCellDef="let row">
            <div>
              <span>Eff(P): </span>
              <span style="color:red" [hidden]="!(row.efficiency_p<50)">{{ row.efficiency_p }}</span>
              <span style="color:darkorange" [hidden]="!(row.efficiency_p>=50 && row.efficiency_p<=80)">{{ row.efficiency_p }}</span>
              <span style="color:green" [hidden]="!(row.efficiency_p>80)">{{ row.efficiency_p }}</span>%
            </div>
            <div>
              <span>Eff(M): </span>
              <span style="color:red" [hidden]="!(row.efficiency_m<50)">{{ row.efficiency_m }}</span>
              <span style="color:darkorange" [hidden]="!(row.efficiency_m>=50 && row.efficiency_m<=80)">{{ row.efficiency_m }}</span>
              <span style="color:green" [hidden]="!(row.efficiency_m>80)">{{ row.efficiency_m }}</span>%
            </div>
            <div>
              <span>Eff(Cit): </span>
              <span style="color:red" [hidden]="!(row.efficiency_c<50)">{{ row.efficiency_c }}</span>
              <span style="color:darkorange" [hidden]="!(row.efficiency_c>=50 && row.efficiency_c<=80)">{{ row.efficiency_c }}</span>
              <span style="color:green" [hidden]="!(row.efficiency_c>80)">{{ row.efficiency_c }}</span>%
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="efficiency_p">
          <th mat-header-cell *matHeaderCellDef mat-sort-header title="Production Efficiency - % of Max"> Eff(P) % </th>
          <td mat-cell *matCellDef="let history">
            <span style="color:red" [hidden]="!(history.efficiency_p<50)">{{ history.efficiency_p }}</span>
            <span style="color:darkorange" [hidden]="!(history.efficiency_p>=50 && history.efficiency_p<=80)">{{ history.efficiency_p }}</span>
            <span style="color:green" [hidden]="!(history.efficiency_p>80)">{{ history.efficiency_p }}</span>%
          </td>
        </ng-container>
        <ng-container matColumnDef="efficiency_m">
          <th mat-header-cell *matHeaderCellDef mat-sort-header title="Min/Max Efficiency %"> Eff(M) % </th>
          <td mat-cell *matCellDef="let history">
            <span style="color:red" [hidden]="!(history.efficiency_m<50)">{{ history.efficiency_m }}</span>
            <span style="color:darkorange" [hidden]="!(history.efficiency_m>=50 && history.efficiency_m<=80)">{{ history.efficiency_m }}</span>
            <span style="color:green" [hidden]="!(history.efficiency_m>80)">{{ history.efficiency_m }}</span>%
          </td>
        </ng-container>
        <ng-container matColumnDef="efficiency_c">
          <th mat-header-cell *matHeaderCellDef mat-sort-header title="Citizen Efficiency %">
            <span [hidden]="historyBuildingType==6" matBadge="A" matBadgePosition="above before" matBadgeSize="small">Eff(Cit) %</span>
            <span [hidden]="historyBuildingType!=6">Citizen Efficiency %</span>
          </th>
          <td mat-cell *matCellDef="let history">
            <span style="color:red" [hidden]="!(history.efficiency_c<50)">{{ history.efficiency_c }}</span>
            <span style="color:darkorange" [hidden]="!(history.efficiency_c>=50 && history.efficiency_c<=80)">{{ history.efficiency_c }}</span>
            <span style="color:green" [hidden]="!(history.efficiency_c>80)">{{ history.efficiency_c }}</span>%
          </td>
        </ng-container>
        <ng-container matColumnDef="building_ip">
          <th mat-header-cell *matHeaderCellDef mat-sort-header title="Citizen Efficiency %"> IP </th>
          <td mat-cell *matCellDef="let history">
            <span>{{ history.building_ip }}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="run_datetime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
          <td mat-cell *matCellDef="let history"> {{ history.run_datetime }}</td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let history; let i = dataIndex" [attr.colspan]="displayedColumns.length">            
            <app-citizen-building-table class="citizenTable"
                                        [@detailExpand]="forceClose == false && history == expandedHistory ? 'expanded' : 'collapsed'"
                                        [index]=i
                                        [productType]="history.building_product_id"
                                        [buildingType]="this.historyBuildingType"></app-citizen-building-table>
          </td>
        </ng-container>

        <tr mat-row *matRowDef="let history; columns: displayedColumns; let i = dataIndex"
            [class.predict-row]=" history.seq === 1 "
            [class.cit-expanded-row]="expandedHistory === history"
            (click)="expandedHistory = expandedHistory === history ? null : history; expandedHistory === history ? getCitizenData(history, i) : null ">
          <!-- Apply class cit-expanded-row to parent row if expanded, checking var expandedHistory is populated on click -->
        </tr>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detailRow"></tr>

      </table>
      <mat-paginator [hidden]="hidePaginator" [pageSize]="5" [hidePageSize] [showFirstLastButtons]
                     (page)="paginationCloseAllExpanded($event)"
                     class="paginatorContainer">
      </mat-paginator>
    </div>

    <div class="helpTip">
      <mat-icon>help</mat-icon>
      <span>Click row to expand and show citizens</span>
    </div>
    <div class="helpTip" *ngIf="historyBuildingType!=6">
      <mat-icon>info</mat-icon>
      <span>Eff(P)% : Efficiency % using 0 to Max production range</span>
    </div>
    <div class="helpTipNoIcon" style="margin-top:-.3rem" *ngIf="historyBuildingType!=6">
      <span>Eff(M)% : Efficiency % using Min to Max production range</span>
    </div>
    <div [ngClass]="{'helpTipNoIcon': historyBuildingType!=6, 'helpTip': historyBuildingType==6}">
      <mat-icon *ngIf="historyBuildingType==6">info</mat-icon>
      <span>Eff(Cit)% : Citizen trait Efficiency % for all citizens</span>
    </div>
  </div>
</div>
