a {
  display: inline-block;
}

.predictControl{}

/* Progress Indicator */
.rotate {
  animation: rotation 1s 30 linear;
}
.rotateFan {  
  animation: rotation 2s 120 linear;
}
.progressIcon {
  font-size: .7rem;
  z-index: 1;
  display:none;
}
.progressFan {
  margin-left: .2rem;
  font-size: .9rem;
  z-index: 1;
  color: #1565c0;
  display:none;
}
.progressFan {
  margin-left: .2rem;
  font-size: .9rem;
  z-index: 1;
  color: #1565c0;
}
.refreshDisable{
  color:lightgray
}
.refresh{
  font-size: 14px;
  display:none;
}
.show{
  display: inline-block
}


.modalFrame {
  width: 745px;
  height: 400px;
  position: fixed;
  top: 30px; 
  left: 35%;
}


.title {
  text-align: center;
  width: 100%;
  display: inline-block;
  color: darkgray;
  margin-top: .5rem;
}

.targetPlot {
  color: lightgray;
  font-size: .8em;  
}

.table-container {
  /*width: 380px;*/
  margin: 6px 6px 10px 10px;
}

tr.mat-mdc-header-row {
  height: 38px
}

.paginatorContainer {
  width: 100%;
  height: 22px;
  margin-top: -8px;
}

.closeframe {
  position: absolute;
  top: 6px;
  right: 6px;
  color: black;
  z-index:1001;
}

/* Header Label blocks */
.historySummary {
  font-size: 14px;
  margin: 6px 8px 0 10px
}

  .historySummary div{
    line-height: 2em;
  }
  .historySummary .summaryLabel {
    vertical-align: top;
  }

.summaryBlock{
  display:inline-block;
}


.produceRow {
  max-width: 20rem
}
.totalEle {
  margin-right: 10px;
  max-width: 8rem;
  display: inline-block
}

.summarydata {
  font-weight: 500;
  min-width: 2rem;
  display: inline-block;
}
.summaryLabel {
  color: rgba(0, 0, 0, 0.54);
  padding-right: .2rem;
}
  .summaryLabel .col2{
    margin-left: 2rem;
  }

.summaryWarning {
  color: rgba(0, 0, 0, 0.54);
  margin-left:20px;
}
.summaryWarningIcon{
  font-size:20px;
  position:absolute;
  margin-left: -22px;
  margin-top:1px;
  color:darkorange;
}
.totalProduce {
  border-top: white 4px solid;
  border-bottom: white 4px solid;
}
.totalLabel{
  font-weight:500
}
.nowarp {
  white-space: nowrap;
  width: 13rem
}

th.mat-column-building_lvl, th.mat-column-efficiency_c {
  line-height: 1.3rem
}

td.mat-column-run_datetime {
  width: 100px;
  line-height: 1.3rem;
}
td.mat-column-building_ip{
  width: 4rem;
}


tr td.mat-column-expandedDetail{
  padding: 0;
}

tr.detailRow {
  height: 0;
}

.predict-row td {
  border-style: solid;
  border-width: 2px 0 2px 0;
  animation: glowLine 1.4s ease-in-out infinite alternate;
}

@keyframes glowLine {
  from {
    border-color: rgba(0,0,0,.05);
  }

  to {
    border-color: #1b6ec2;   
  }
}

/* Special stripe - every 3rd row stripe, row 2 is hidden */
tr.mat-mdc-row:first-child, tr.mat-mdc-row:nth-child(5), tr.mat-mdc-row:nth-child(9) {
  background: rgba(0,0,0,.05);
}
tr.mat-mdc-row:not(.detailRow) {
  cursor: pointer;
}

.officeTable td.mat-column-run_datetime{
  width: 10rem;
}
.officeTable td.mat-column-building_ip {
  width: 5rem;
}
.officeTable td.mat-column-efficiency_c{
  padding-left: 2rem;  
}
.officeTable td.mat-column-building_lvl {
  width: 7rem;
  text-indent: 2rem;
}

.citizenTable {
  overflow: hidden;
  display: flex;
}

.loading {
  left: 40%;
  top: 45%;
  position: absolute;
}

.searchIcon {
  font-size: 1.1rem;
  margin-left: 6px;
  position: absolute;
  color: #1565c0;
  z-index: 1;
}

.rotate {
  animation: rotation 1s 30 linear;
}

.helpTip {
  vertical-align: middle;
  font-size: .7rem;
  /*position: absolute;*/
  margin-left: .6rem;
  margin-top: 1rem;
  color: gray;
}

  .helpTip .mat-icon {
    font-size: 1.4rem;
    animation: glowHelpTip 1.4s ease-in-out infinite alternate;
  }

  .helpTip span {
    vertical-align: super;
  }

.helpTipNoIcon {
  margin-top: 0;
  vertical-align: middle;
  font-size: .7rem;  
  margin-left: 2.1rem;
  color: gray;
}
@keyframes glowHelpTip {
  from {
    color: gray;
  }

  to {
    color: #ffc107;
  }
}

/*Predict produce*/
.hideLink{
  display:none;
}
.predict {
  /*display: none;*/
  display: inline-block;
  float: right;
}
.predictionTotal {
  font-weight: 500;
}
.predictionDetail {
  width: 100%;
  /*height: 150px;*/
  overflow: hidden;
  visibility: hidden;
  margin: 0.6rem 0 0.8rem;
}
.predictionDetailInner {
  background-color: aliceblue;
  padding: .3rem;
}

.predictionDetailHeader {
  border-bottom: 4px solid white
}
  .predictionDetailHeader div {
    display: inline-block;
    width: 25%;
    text-align: center;
  }
    .predictionDetailHeader div span:first-child{
      padding-right:.4rem;
    }

.predictControlBonus {
  height: 1.4rem;
  margin: 3px 0;
}
  .predictControlBonus span {
    vertical-align: top;
  }

.glowCalcText {
  animation: glowCalcText 1.4s ease-in-out infinite alternate;
}

@keyframes glowCalcText {
  from {
    color: gray;
  }

  to {
    color: #1565c0;
  }
}


.noMargin {
  min-height: 0px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.separate {
  border-width: 5px 0 0 0;
  border-color: white;
  border-style: solid;
  padding-top: 5px;
}

.predictionDetailCalc div {
  display: block;
  text-align: center;
}
  .predictionDetailCalc div > span:first-child {
    width: 6rem;
    display: inline-block;
    text-align:left;
    white-space:nowrap
  }
  .predictionDetailCalc div > span:nth-child(2) {
    min-width: 13rem;
    display: inline-block;
    text-align:right;
  }
  .predictionDetailCalc div > span:nth-child(3) {
    width: 3.8rem;
    text-align: right;
    padding-right: 0.8rem;
    color: dimgray;
    font-weight: 600;
    white-space: nowrap;
  }
  .predictionDetailCalc div > span:nth-child(4) {
    position: absolute;
    color: dimgray;
    font-size: .6rem;
    text-align: right;
    width: 140px;
    line-height: .6rem;
    padding-top: 0.5rem;
  }
  .extraWidth {
    min-width: 8rem;
  }
.predictionDetailCalc div span.multi {
  color: red;
  font-weight: 600;
  min-width: unset;
  display: unset;
  text-align: unset;
  font-size: 1.1rem;
}
.bottomTopBorder {
  border-bottom: 1px solid;
  border-top: 1px solid;
}

.predictControl a {
  float: right;
}
.predictControl span{
  vertical-align:top
}
.predict .mat-icon {
}
.predictTotal {
  /*width: 6rem;*/
  display: inline-block;
  text-align: left;
  padding-left: 0.3rem;
}
.gold {
  color: goldenrod;
}
.borderTop {
  border-top: white 3px solid;
  padding-top: 4px;
}
.formula > span{
  padding-top: .2rem
}
.formula .mat-badge-content {
  font-size: .5rem
}
.shortTxt {
  display: none;
}
.longTxt {
  display: inline-block;
}


@media only screen and (max-width: 426px) {

  .shortTxt {
    display: inline-block;
  }
  .longTxt {
    display: none;
  }
  .histroyframe {
    left: 0;
    bottom: unset;
    top: 0;
    height: 100vh;
    transform:none !important;
    width: 100vw;
  }
  .summaryBlock{
    font-size: .8rem;
  }

  .produceRow{
    max-width: 18rem;
  }

  .predict {
    position: relative;
    float: unset;
    right: unset;
    margin-top: unset;
    width: 95%;
    font-size: .8rem;
  }
  .predictControl {
    position: absolute;
    right: 0;
    margin-top: -28px;
  }
  .predictionDetail {
    margin: 0;
    font-size: .7rem;
  }
  .predictionDetailCalc div > span:first-child {
    margin-left:-5.2rem;
    width: 4rem;
  }
  .predictionDetailCalc div > span:nth-child(2){
    min-width:10rem
  }
  .predictionDetailCalc div > span:nth-child(4) {    
    width: 5rem;
    line-height: .6rem;
  }
  .nowarp {
    width: unset;
  }

  .citizenTable {
    margin-top: 0;
    width: 400px;
  }

  .table-container {
    margin-right: 0;
    margin-left: -10px;
  }

  .closeframe {
    left: 90vw;
  }

  td.mat-mdc-cell {
    font-size: .74rem;
    font-weight: 500;
    padding-top: .3rem;
    padding-bottom: .3rem;
  }

  .officeTable td.mat-column-building_lvl {
    width: 5rem;
    text-indent: 1.6rem;
  }
  .officeTable td.mat-column-efficiency_c {
    padding-left: 1rem;
    width: 7rem;
  }

  .historySummary {
    margin-left: 4px;
  }
  .historySummary div{
    line-height: 1.6rem;
  }

  .summaryWarning {
    position: absolute;
    right: 0;
    margin-top: -1.8rem;
  }

  .formula{
    max-width: 10rem;
  }
    .formula > span {
      padding-top: .3rem
    }
}
