.rotate {
  animation: rotation 1s 1 linear;
}

a {
  display: inline-block;
}

.count {
  float: right;
  color: lightslategray;
  font-size: .8em;
  font-weight: 500;
  margin-right: 50px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.mat-button-toggle-group {
  float: right;
  margin-right: 2rem;
  height: 2rem;
  font-size: .7rem;
  font-weight: bold;
  color: white;
}


.table-container {
  margin: 1em 1em 1.6em 1em;
}

th.mat-mdc-header-cell:last-of-type{
  padding-right: 2px;
}

tr.mat-mdc-header-row {
  height: 38px
}

.paginatorContainer {
  text-align: center;
  height: 2.2em;
  margin-top: -8px;
}

.closeframe {
  position: absolute;
  top: 6px;
  right: 6px;
  color: black;
  z-index: 1001;
}


.mat-column-header-row-second-group{
  text-align:center
}

.mat-column-name, .mat-column-token_id {
  padding-right: 1em
}

.mat-column-token_id{
  width:70px;
  padding-left: .8rem;
}

.mat-column-name {
  min-width: 130px;
  vertical-align: middle;
}
  td.mat-column-name span {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    vertical-align: middle;
    padding-left:.2rem;
    width:5rem;
  }
  td.mat-column-name img {   
    margin-top:-4px;
    height:40px;
  }

td.mat-column-trait_agility, td.mat-column-trait_charisma, td.mat-column-trait_endurance, td.mat-column-trait_luck, td.mat-column-trait_strength, td.mat-column-trait_intelligence {
  text-indent: .6rem;
}
th.mat-column-efficiency_industry{
  font-weight: 600;
}

tr td.mat-column-efficiency_industry, tr td.mat-column-efficiency_production, tr td.mat-column-efficiency_energy, tr td.mat-column-efficiency_office, tr td.mat-column-efficiency_commercial,
tr td.mat-column-efficiency_municipal {
  text-align: left;
  padding-left: .9rem;
  color: #1565c0;
  font-weight: 500;
}
.industryImg {
  max-height: 44px;
  margin-top: -3px;
}

.mat-column-trait_agility span:nth-child(2), .mat-column-trait_intelligence span:nth-child(2), .mat-column-trait_charisma span:nth-child(2),
.mat-column-trait_endurance span:nth-child(2), .mat-column-trait_luck span:nth-child(2), .mat-column-trait_strength span:nth-child(2) {
  display: block;
  text-indent: initial;
}

th{
  line-height: 1.2rem;
}

.mat-column-trait_avg span{
  display: block 
}
.fa-paw {
  color: dodgerblue;
  text-indent: initial;
  padding-left: .2rem;
  position: absolute;
  margin-top: 6px;
}


.topBtnDiv {
  margin: 1rem 1rem 1rem;
}

.copy {
  font-size: .74rem;
  width: 148px;
  padding-left: 1.7rem;
  white-space: nowrap
}
.topBtnDiv i {
  font-size: 1rem;
  margin-left: 8px;
  margin-top: 9px;
  position: absolute;
  color: white;
  z-index: 1;
}

.topBtnDiv ::ng-deep .mat-button-toggle-label-content {
  line-height: 2.4rem
}

.topBtnDiv ::ng-deep .mat-button-toggle-group {
  height: 2.4rem;
  font-size: .8rem;
  font-weight: 500;
}




@media only screen and (max-width: 426px) {

  .modalFrame {
    left: 1%;
    bottom: unset;
  }

  .table-container {
    margin-left: 0;
    margin-right: 0;
    width:400px;
  }

  td.mat-mdc-cell {
    font-size: .74rem;
    font-weight: 500;
  }

    td.mat-mdc-cell:last-of-type, td.mat-mdc-footer-cell:last-of-type, th.mat-mdc-header-cell:last-of-type {
      padding-right: 10px
    }

  th.mat-column-name {
    padding-left: 38px;
    min-width: 120px;
  }
  td.mat-column-name {
    min-width: 120px;
    vertical-align: middle;
    padding-left: .8rem;
    padding-right: 0px;
  }

    td.mat-column-name span {
      width: 4rem;
    }

  td.mat-column-name img{
    height: 38px
  }

  tr.mat-mdc-row{
    height:44px
  }

  .mat-column-efficiency_production {
    width: 6.6rem;
  }

  tr td.mat-column-efficiency_industry, tr td.mat-column-efficiency_production, tr td.mat-column-efficiency_energy, tr td.mat-column-efficiency_office, tr td.mat-column-efficiency_commercial,
  tr td.mat-column-efficiency_municipal { 
    padding-left: 0;    
  }
}
