
<div class="table-container">
  
  <table mat-table [dataSource]="dataSource" matSort class="table table-striped mat-elevation-z8" style="display:inline-table">
    <!--table table-striped-->
    <ng-container matColumnDef="token_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let citizen"> {{ citizen.token_id }} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let citizen">
        <img src="{{ globals.worldURLPath }}citizen/{{ citizen.token_id }}" class="ownerImgCol" height="38" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <span>{{ citizen.name }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="trait_agility">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Agility </th>
      <td mat-cell *matCellDef="let citizen">
        <span>{{ citizen.trait_agility }}</span>
        <span [hidden]="citizen.trait_agility_pet == 0"> + {{ citizen.trait_agility + citizen.trait_agility_pet > 10 ? 10 - citizen.trait_agility : citizen.trait_agility_pet}}<i class="fas fa-paw"></i></span>
      </td>
    </ng-container>

    <ng-container matColumnDef="trait_intelligence">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Intel </th>
      <td mat-cell *matCellDef="let citizen">
        <span>{{ citizen.trait_intelligence }}</span>
        <span [hidden]="citizen.trait_intelligence_pet == 0"> + {{ citizen.trait_intelligence + citizen.trait_intelligence_pet > 10 ? 10 - citizen.trait_intelligence : citizen.trait_intelligence_pet}}<i class="fas fa-paw"></i></span>
      </td>
    </ng-container>

    <ng-container matColumnDef="trait_charisma">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Charisma </th>
      <td mat-cell *matCellDef="let citizen">
        <span>{{ citizen.trait_charisma }}</span>
        <span [hidden]="citizen.trait_charisma_pet == 0"> + {{ citizen.trait_charisma + citizen.trait_charisma_pet > 10 ? 10 - citizen.trait_charisma : citizen.trait_charisma_pet}}<i class="fas fa-paw"></i></span>
      </td>
    </ng-container>

    <ng-container matColumnDef="trait_endurance">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Endurance </th>
      <td mat-cell *matCellDef="let citizen">
        <span>{{ citizen.trait_endurance }}</span>
        <span [hidden]="citizen.trait_endurance_pet == 0"> + {{ citizen.trait_endurance + citizen.trait_endurance_pet > 10 ? 10 - citizen.trait_endurance : citizen.trait_endurance_pet}}<i class="fas fa-paw"></i></span>
      </td>
    </ng-container>

    <ng-container matColumnDef="trait_luck">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Luck </th>
      <td mat-cell *matCellDef="let citizen">
        <span>{{ citizen.trait_luck }}</span>
        <span [hidden]="citizen.trait_luck_pet == 0"> + {{ citizen.trait_luck + citizen.trait_luck_pet > 10 ? 10 - citizen.trait_luck : citizen.trait_luck_pet}}<i class="fas fa-paw"></i></span>
      </td>
    </ng-container>

    <ng-container matColumnDef="trait_strength">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Strength </th>
      <td mat-cell *matCellDef="let citizen">
        <span>{{ citizen.trait_strength }}</span>
        <span [hidden]="citizen.trait_strength_pet == 0"> + {{ citizen.trait_strength + citizen.trait_strength_pet > 10 ? 10 - citizen.trait_strength : citizen.trait_strength_pet}}<i class="fas fa-paw"></i></span>
      </td>
    </ng-container>

    <ng-container matColumnDef="trait_avg">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Avg. </th>
      <td mat-cell *matCellDef="let citizen">
        <span>{{ citizen.trait_avg }}</span>
        <span [hidden]="citizen.trait_avg_pet == citizen.trait_avg"> {{ citizen.trait_avg_pet }}<i class="fas fa-paw"></i></span>
      </td>
    </ng-container>

    <ng-container matColumnDef="efficiency_industry">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Industry Efficiency% </th>
      <td mat-cell *matCellDef="let citizen">{{ citizen.efficiency_industry }}%</td>
    </ng-container>

    <ng-container matColumnDef="efficiency_production">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Production Efficiency% </th>
      <td mat-cell *matCellDef="let citizen">{{ citizen.efficiency_production }}%</td>
    </ng-container>

    <ng-container matColumnDef="efficiency_energy_water">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Water Efficiency% </th>
      <td mat-cell *matCellDef="let citizen">{{ citizen.efficiency_energy_water }}%</td>
    </ng-container>
    <ng-container matColumnDef="efficiency_energy_electric">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Energy Efficiency% </th>
      <td mat-cell *matCellDef="let citizen">{{ citizen.efficiency_energy_electric }}%</td>
    </ng-container>

    <ng-container matColumnDef="efficiency_office">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Office </th>
      <td mat-cell *matCellDef="let citizen">{{ citizen.efficiency_office }}%</td>
    </ng-container>

    <ng-container matColumnDef="efficiency_commercial">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Commercial </th>
      <td mat-cell *matCellDef="let citizen">{{ citizen.efficiency_commercial }}%</td>
    </ng-container>

    <ng-container matColumnDef="efficiency_municipal">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Municipal </th>
      <td mat-cell *matCellDef="let citizen">{{ citizen.efficiency_municipal }}%</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [hidden]="hidePaginator" [pageSize]="5" [hidePageSize] [showFirstLastButtons] class="paginatorContainer"></mat-paginator>
</div>

