
.header {
  /* Dark Header - User preference
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;*/
}

/*@media (min-width: 1200px) {
  td.mat-cell {
    font-size: .8em;
  }
}*/

.adIcon {
  font-size: 2.3rem;
  color: red;
  position: absolute;
  margin-left: 8px;
  margin-top: -6px;
}
  .adIcon:hover {
    color: greenyellow
  }

.ownerInfo {
  margin-top: 1.2rem;
  height:90px;
}
  .ownerdata {
    margin-left: .3rem;
    position: absolute;
    display: inline-block;
  }
  .ownerdata div{
      line-height: 1.8rem;
  }

  .ownerImgPos {
    vertical-align: top;
    display: inline-block;
  }
.districtOwnerLink{
    display:inline-block;
}
  .districtOwnerLink strong {
    color:#0366d6;
  }


.districtImgContainer {
  position: absolute;
  right: 20%;
  margin-top: -16px;
  z-index: 10;
  width: 400px;
  height: 160px;
  overflow-y: hidden
}
.innerDistrictImgContainer{
  width:300px;
  float:right;
}
.districtImg {
  float: right;
  margin-top: -50px;
  z-index: 10;
}

.slideOutLeft {
  position:absolute;
  top:0;
  margin-left: -100px;
  width: 180px;
  height: 110px;
  z-index: -1;
  border: 1px;
  border-color: gray;
  border-style: solid;
  box-shadow: 0 5px 10px rgb(0 0 0 / 12%);
  border-radius: 5px;
  background-color: white;
  font-size: .9em;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 600ms, visibility 600ms;
  transition: opacity 600ms, visibility 600ms;
  padding-left:2px;
}
  .slideOutLeft span {
    display: block;
  }

  .slideOutLeft p span:nth-child(2) {
    font-weight: bold;
  }

.districtImg:hover + .slideOutLeft {
  visibility: visible;
  opacity: 1;
  display: block;
}

.searchTop{
  display:none
}
.searchBottom {
  float: right;
  width: 8.8rem;
}
.searchDistrict {
  position: absolute;
  margin-top: 1rem;
  z-index: 101;
}

#taxChangeAccordion .mat-expansion-panel-header {
  background: none
}
.accountAccordion .mat-expansion-panel {
  z-index: 10;
}


/***District Section***/
.districtHeader {
  position: absolute;
}
.districtDetailsSection{
  padding-top:30px;
}

.showAllLink {
  display: block;
  opacity: .7;
  font-weight: bold;
  width: 70px
}

.districtHeader {
  display: inline-block;
  vertical-align: top;
  margin-top:2px
}

.districtPlots {
  margin-bottom: 1rem;
  padding-top:0
}

.districtLabel {
 
  vertical-align: top;
  margin-right: .4rem
}

.districtLink{
    opacity:.7
}

.districtBox {
  width: 50%;
  display: inline-block
}

.districtEle {
  font-weight: bold;
  width: 100px;
  display: inline-block;
  margin-bottom: .1rem;
  padding: 1px;
  text-align: center;
  border: 1px;
  border-style:ridge
}

.districtEleActive {
  border: 1px;
  border-color: gray;
  border-style: solid;
  box-shadow: 0 5px 10px rgb(0 0 0 / 12%);
  border-radius: 5px;
}
  .districtEleActive .districtLink{
      opacity:1
  }

.districtNum {
  color: darkslateblue
}

.districtSell {
  color: darkred;
  opacity:.7
}

.districtCount{
  opacity:.7
}
.RemoveOpacity{
  opacity:1
}


.districtPlotSection {
  clear: both;
  width: 14rem;
}

.plotCountFieldA {
  width: 7rem;
  display: inline-block;
}

.plotCountFieldB {
  display: inline-block;
}

.plotCountFieldC {
  margin-left: 3.5rem;
  display: inline-block;
}

.districtInfoBlock {
  margin-left: 10px;
  width: 38rem
}
.districtInfoBlock div:first-child{
    margin-bottom:.4rem;
}

.taxGraphDistrictConstruct {
  display: inline-block;
  width: 430px;
  height: 210px
}
.taxGraphDistrictProduce {
  display: inline-block;
  /*width: 330px; /* Less then actual size, used to force 2nd grid to stay on same line until legend is nearly hiden*/
  width: 420px;
  height: 210px
}
.fundGraph {
  display: inline-block;
  width: 416px;
  height: 200px;
}
.distributeGraph {
  display: inline-block;
  width: 416px;
  height: 200px;
}
.ngx-charts-axis-label{
  font-weight: 600;
}
.fundSection{
  min-height: 250px;
}
.fundGraph, .distributeGraph {
  display: inline-block;
  max-height: 200px;
  /*overflow-y: hidden;*/
}
.fundDataBlock {
  width: 28rem;
  text-align: center;
  margin-bottom: .2rem;
  margin-top: .6rem;
  float:right
}

.perkCount {
  font-weight: 800;
  color: gold;
  background-color: #121888;
  border-radius: 50%;
  width: 1.4rem;
  display: inline-block;
  text-align: center;
}
.perkLevel {
  font-weight: 800;
  font-size: .8rem;
  color: gold;
  background-color: #121888;
  border-radius: 50%;
  width: 2rem;
  display: inline-block;
  text-align: center;
  height: 1.6rem;
  padding-top: .16rem;
  margin-right:.2rem;  
}


.arrivalCheckboxGroup{
  margin-left: 1rem;
  display: inline-block;
  font-size: .8rem;
}
#arrivalCheckboxWeek, #arrivalCheckboxMonth{
  display:inline-block;
}

#arrivalCheckboxMonth {
  margin-left: 1rem;
}
/*#arrivalCheckboxWeek ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
  opacity: 0.03 !important;
  background-color: #005691 !important;
}

#arrivalCheckboxWeek ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #1b6ec2;
}*/

#arrivalCheckboxMonth ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #ffd740;
}


/*** TABLE ***/
.mat-table {
  width: 100%;
  display: inline-table;
}
.mat-header-row {
  height: 3.8rem;
}

.table-container {
  max-height: calc(100vh - 155px);
  clear: both;
  margin-top: .8rem;
  display: inline-table;
  /* or height: calc(100vh - 155px);
    depending on your need change overflow: auto;*/
}

table:last-child {
  margin-bottom: 30px;
}

th.mat-header-cell {
  color: inherit;
  font-size: .9rem;
  font-weight: bold;
  vertical-align: middle !important;
  padding-top:.6rem;
}
  th.mat-header-cell img{
      margin-right:2px
  }

td.mat-cell {
  font-size: inherit;
  font-weight: 500;
  vertical-align: middle;
  height: 72px;
  padding-right: .2em;
}

td.boldfield {
  font-weight: bold;
}

.tableWrapline {
  display: inline-block;
  margin-left: 4px;
  vertical-align: middle;
  width: 76px;
}

.linkCol{
    margin-left:1em;
}

th.mat-sort-header-sorted {
  color: black;
}
.plotCount {
  display: block;
  vertical-align: middle;
  position: absolute;
  margin-top: -46px;
  margin-left: 8px;
}

/*** Table Flex columns ***/
.mat-column-owner_name {
  flex: 0 0 360px;
  min-width: 240px;
}
  .mat-column-owner_name a {
    display:inline-block;
    padding-right: 0;
    padding-left: .6rem;
  }
    .mat-column-owner_name a span {
      width:8rem;
      display:inline-block;
      white-space: nowrap;
      overflow: hidden !important;
      text-overflow: ellipsis;     
    }

      .mat-column-owner_name a span:hover {
        white-space: unset;
        text-overflow: unset;
        transition: 1s;
      }

  .mat-column-owner_name img {    
    display: inline-block;
    vertical-align:sub
  }

th.mat-column-owned_plots{
  text-align: center;
  padding-top: 0;
}
.mat-column-owned_plots{
    text-align: center;
}
.mat-column-energy_count, .mat-column-industry_count, .mat-column-production_count, .mat-column-office_count, .mat-column-residential_count, .mat-column-poi_count, .mat-column-commercial_count, .mat-column-municipal_count {
  text-align: center;
  margin-top: .2rem;
}
.header-count .long-text {
  font-size: .7rem;
}

<i class="fas fa-plane-arrival" > </i >
/* Table filter Input */
::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #1b6ec2 !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
 /* background-color: #1b6ec2 !important;*/
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #1b6ec2 !important;  
}

.arrivalIcon, .arrivalIcon2 {
  color: #1b6ec2;
  font-size: 1.4rem;
  margin-right: .4rem;
  margin-left: -1.2rem;
  margin-top: -16px;
  vertical-align: text-top;
}
.arrivalIconSml {
  margin-right: .3rem;
  margin-left: 0;
  margin-top: -2px;
  font-size: .8rem;
}
.arrivalIcon {
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
.arrivalIcon2 {
  color: orange;
  -webkit-animation: glow2 1s ease-in-out infinite alternate;
  -moz-animation: glow2 1s ease-in-out infinite alternate;
  animation: glow2 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #1b6ec2, 0 0 25px #1b6ec2, 0 0 30px #1b6ec2, 0 0 33px #fff;
  }

  to {
    text-shadow: 0 0 10px #fff, 0 0 15px #FFF, 0 0 20px #ff4da6, 0 0 25px #ff4da6, 0 0 30px #ff4da6, 0 0 35px #ff4da6, 0 0 40px #fff;
  }
}
@-webkit-keyframes glow2 {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #28a745, 0 0 25px #28a745, 0 0 30px #28a745, 0 0 33px #28a745;
  }

  to {
    text-shadow: 0 0 10px #fff, 0 0 15px #FFF, 0 0 20px #ff4da6, 0 0 25px #ff4da6, 0 0 30px #ff4da6, 0 0 35px #fff, 0 0 40px #fff;
  }
}


.adIcon {
  -webkit-animation: glowAd 1.2s ease-in-out infinite alternate;
  -moz-animation: glowAd 1.2s ease-in-out infinite alternate;
  animation: glowAd 1.2s ease-in-out infinite alternate;
}
@-webkit-keyframes glowAd {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 14px #fff, 0 0 16px red, 0 0 18px red, 0 0 20px #fff,0 0 23px #fff;
  }

  to {
    text-shadow: 0 0 4px #fff, 0 0 10px #FFF, 0 0 12px #fff, 0 0 15px #fff, 0 0 18px #fff, 0 0 21px #fff;
  }
}

/*** Link underline amine ***/
a {
  position: relative;
  /*color: #000;*/
  text-decoration: none;
  /*opacity: .7*/
}

  a.lineAnim:hover {
    /*color: #000;*/
    color: #1b6ec2;
    opacity: 1;
  }

  a.lineAnim::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #1b6ec2;
    /*background-color: #000;*/
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }

  a.lineAnim:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }


/*** Hide short text by default (resolution > 1200px) ***/
.short-text {
  display: none;
}

.showMaticKeySmall {
  display: none;
}

.maticLabel {
  font-weight: 500
}


/*** MOBILE ***/
@media only screen and (max-width: 2100px) {
  .districtImgContainer {
    right: 16%;
  }
}

@media only screen and (max-width: 1800px) {
  .districtImgContainer {
    right: 9%;
  }
}

@media only screen and (max-width: 1320px) {
  .districtImgContainer {
    right: 7%;
  }
  .magnifyHistoryIcon {
    height: 20px;
  }

}
/*** When resolution <= 1200px, hide full text and show short text ***/
@media (max-width: 1200px) {
  h3 {
    font-size: 1.4rem
  }

  .short-text {
    display: inline-block;
  }

  .long-text {
    display: none;
  }
}

@media only screen and (max-width: 1090px) {

  .districtImg {
    height: 230px
  }
  .innerDistrictImgContainer{
      width:260px;
  }

  th.mat-header-cell {
    font-size: .8em;
  }

  td.mat-cell {
    font-size: .9em;
  }
    td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
      padding-right: 0px
    }

  .mat-column-owner_name{
      min-width: 10rem;
  }
  .mat-column-owner_name a span {
    width: 4.3rem;
  }
    .mat-column-owner_name a {
      padding-left: 3px;
      padding-right: 5px;    
    }
    .mat-column-owner_name span {
      width: 4.3rem;
    }
  .mat-column-owner_name img {
    margin-right:0px;
    margin-left:-10px;
    height:46px
  }

}

@media only screen and (max-width: 850px) {

  .mat-column-owner_name {
    min-width: 8rem;
  }

  td.mat-column-owner_name {    
    font-size: .8rem;
  }
  .mat-column-owner_name a span {
    width: 4rem;
  }
  .mat-column-owner_name a span.maticLink {
    width: 3.5rem;
  }

  .districtOwnerMatic {
    display: none
  }

  .showMaticKeySmall {
    display: inline-block;
    z-index: 30
  }
}



@media only screen and (max-width: 415px) {

  h3 {
    font-size: 1.3rem;
  }

  .searchTop {
    display: block;
  }
  .searchBottom {
    display: none;
  }
  .searchDistrict {
    position: absolute;
    margin-top: 20px;
    right: 10px;
  }

  .districtImgContainer {
    text-align: center;
    position: relative;
    right: unset;
    width: unset;
    margin-top: -20px;
    margin-bottom: 8px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .innerDistrictImgContainer {
    float: unset;
    clear: both;
    width: auto;
  }

  .districtImg {
    height: 190px;
    margin-top: unset;
    float: none;
    width: auto;
  }

  .slideOutLeft {
    margin-left: unset;
  }

  .taxGraphDistrict {
    margin-left: -28px !important;
  }

  .taxGraphDistrictConstruct {
    width: 360px;
  }

  .taxGraphDistrictProduce {
    width: 360px;
  }

  .fundGraph{
    margin-left:-20px;
    width:390px;   
  }
  .distributeGraph {
    margin-top:1.4rem;
    margin-left: -20px;
    width: 390px;
  }

  .districtInfoBlock{
    margin-left:-1rem;
    font-size:.8rem;
  }


  .mat-column-owner_name .arrivalIcon, .mat-column-owner_name .arrivalIcon2 {
    position: absolute;
    margin-top: 1.5rem;
    margin-left: -2.1rem;
    font-size: 1.3rem;
  }

  .mat-column-owner_name {
    min-width: 4rem;
  }
    td.mat-column-owner_name {
      text-align: center;
    }
      td.mat-column-owner_name img {
        margin-top: .4rem;
      }
      td.mat-column-owner_name .mysteryImg {
        margin-left: -8px;
        height: 38px;
      }
      td.mat-column-owner_name a {
        display: block;
        padding-right: 0;
        text-align: left;
        width: unset;
        padding-top: .1rem;
      }

    .mat-column-owner_name a span {
      width: 3.1rem;
    }
    .mat-column-owner_name a span.maticLink {
      width: 3.1rem;
    }

  div.mat-form-field-infix {
    width: 140px;
  }

  .mat-expansion-panel-header-title span {
    font-weight: 500;
    font-size: .8rem;
  }

  .table-container{
    margin-top: 1.4rem;
  }

  .arrivalCheckboxGroup {
    font-size: .7rem;
  }
  #arrivalCheckboxMonth{
    display:block;
    margin-left:unset;
  }

}
