

.searchIcon {  
    color: white;
    margin-right:6px
}

.rotate {
  animation: rotation 1s 22 linear;
}
.rotateReverse {
  animation: rotation-alt 1s 22 linear;
}

.districtInput{
  display: block;
  margin-bottom: .8rem;
  margin-top:2rem;
}
