<h1>MetaverseMax!</h1>
<p>Get the max value from your Metaverse:</p>
<img src="./assets/circle-cropped.png" style="position:absolute;margin-left:310px;top:64px" height="100" />
<div>
  <ul>
    <li>Beta Version 0.5 : Features may become unstable at any time due to active development</li>
    <li>Initial features tools are for MCP worlds. Specifically Tron World during early Beta</li>
    <li>If you love our tools, encourage us to keep on developing them for MCP World. A donation of Energy, Water, any materials or Trx keeps the dev production run going and fueled on coffee!</li>
    <li>Donate to our Tron Trx account (click to copy): <button class="btn btn-primary" (click)="copyMessage('TWpDTFNtM7qQr9vKNJBxhsed7TTwZsyCPu')" title="click to copy">TWpDTFNtM7qQr9vKNJBxhsed7TTwZsyCPu</button></li>
    <li>Please report any bugs, issues and suggestions at our new discord channel @ <a target="_blank" href="https://discord.gg/Z3bnr7dj">Discord Metaverse</a></li>
  </ul>
</div>

<div style="margin-top:40px">
  <h3>Plot Owner Report - User Guide [Release 0.5 Beta]</h3>
  <p><b>Production efficiency and history feature:</b></p>
  <img src="./assets/user-guide-production1.png" style="" height="220" />
  <img src="./assets/user-guide-production2.png" style="" height="220" />
  <p>Click on the building type link on each row to open the history pop-up.</p>
  <ul>
    <li>Lighting fast evaluation of all production run history since ownership of a selected Industry, Energy or Production building.</li>
    <li>3 colour indicator of efficiency rating per run : red <50%, orange 50% to 80%, green>80%</li>
    <li>Total runs and breakdown of total production per product since ownership</li>
    <li>table pagination, sorting</li>
  </ul>
  <p>Find the the building lifetime ROI, variance between different product efficiency with same cits and IP, optimal building upgrades and citizen assignment per product type, track how the successful players produce, impact from IP change ... </p>
</div>


<div style="margin-top:80px">
  <p ><b>Stamina Alert feature:</b></p>
  <img src="./assets/user-guide-stamina.png" style="" height="100" />
  <p>Get the Max output from your buildings! Identify all your building containing low stamina citizens</p>
  <p>Alert icon displays in right most column when minimum thresholds breached per building. Column is sortable.</p>
  <p>On all buildings containing 1 or more citizens, icon of citizen with lowest stamina is shown, hover to find value</p>
  <ul>
    <li>Background: When stamina falls below a certain threshold building production output reduces for that building.</li>
    <li>Each Citizen within the building is evaluated, any below threshold will trigger the alert</li>
    <li>Each building type has a custom minimum stamina threshold:</li>
    <li>* Residential <=200</li>
    <li>* Office <=50</li>
    <li>* Commercial <= 10</li>
    <li>* Municipal <=20</li>
    <li>* Industrial <=50</li>
    <li>* Production <=100</li>
    <li>* Energy <=30</li>
    <li>* Any other future new building type <=100  (default until specific threshold set in app)</li>
  </ul>
</div>
<br />
<div>
  <h3>Use Cases:</h3>
  <ul>
    <li>
      Before placing a plot offer, check if the owner was recently active on any of their plots. especially if your goal is a 2x2 and need their plot.
    </li>
    <li>
      Find if the owner is currently selling plots/building and what's thir asking prices are for similar plots, evaluate IP
    </li>
    <li>
      Identify district owners who invested in Landmarks, and quickly open each landmark or plot location via in-game link (MCP_TRON)
    </li>
    <li>
      Identify what a player is focusing on building currently, and offer plots and buildings to match, or build with them optimising your build IP..
    </li>
    <li>
      Find bot players and inactive accounts, dead zones.
    </li>
    <li>
      Identify the time-zone when a player is active, to help in communication via discord channels
    </li>
    <li>
      Evaluate your plots, sorting by IP, district, citizens.   Identify weaker plots you may want to sell, or plots that need attention to improve.
    </li>
    <li>
      Find if a player is doing a fire-sale of their plots and buildings portfolio, get better deals or bulk buy deals.
    </li>
    <li>
      Help another player develop their land optimally and in synergy with the district zoning plan.
    </li>
    <li>
      Fast explore of Matic tokens for this owner via Matic key link
    <li>We would love to here how you use our tools, drop us a msg within our discord channels, plus any new or extended features you would like us to develop!</li>
  </ul>
  <a style="display:none">test</a>
</div>
