body {
}
h3{
  font-size:1.5rem;
}

.btn-primary {
  font-size: .6rem;
}

.homeContent {
  padding-left: .2rem;
  padding-bottom: 1.2rem;
}

.logoImg {
  position: absolute;
  margin-left: 310px;
  margin-top: -100px
}

.widgetLogo-6zH6Nv:hover {
  opacity: .6;
}

.widget-szj0pM a {
  color: #fff;
  text-decoration: none;
}

.widgetLogo-6zH6Nv {
  background: url("../../assets/discordLogo.svg") 50% no-repeat;
  width: 104px;
  height: 24px;
  background-size: 110px 20px;
  display: inline-block;
  transition: opacity .25s ease-out;
}

.discordButton {
  background-color: #7289da;
  display: inline-block;
  height: 28px;
  margin-right: 10px;
  padding: 2px;
  border-radius: 4px;
  vertical-align: top;
}

.actionPanel { 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 1rem;
  margin-top: .4rem;
  margin-bottom:.4rem;
}

.action {
  /*background-color: rgba(196, 198, 209, 0.2);*/
  background-clip: border-box;
  /*border: 1px solid rgba(0,0,0,.125);*/
  border-radius: .25rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  flex-basis: auto;
  min-width: 200px;
  height: 5rem;
  padding: .5rem;
  margin-bottom: .8rem;
}

  .action span {
    margin-top: .2rem;
    display: block;
    font-weight: 500;
    font-size: .9rem;
    /*color: #1b6ec2;*/
  }
  .action i {
    margin-top: .3rem;
    /*color: #1b6ec2;*/
    font-size: 2.3rem;
  }
  .action:hover {
    text-decoration: none;
    /*background-color: #1b6ec2;*/
    cursor: pointer;
  }
    .action:hover i, .action:hover span {
      /*color: white;*/
      cursor: pointer;
    }

#introBlock {
  margin-bottom: 6rem
}

.partnerLink {
  border-style: solid;
  border-radius: 6px;
  border-color: #1b6ec2;
  box-shadow: 4px 4px 5px 0px rgb(0 0 0 / 50%);
  height: 48px;
  display: inline-block;
  width: 170px;
  padding-top: 4px;
  text-align: center;
  vertical-align: top;
  color: #1b6ec2;
  margin-right: 3rem;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  margin-top: 0.8rem;
}

  .partnerLink:hover {
    animation: glowBtn 1.4s ease-in-out infinite alternate;
    text-decoration: none;
  }

.tipWallet{

}

.infoSection {
  margin-bottom: 4rem;
  float: left;
  width: 100%;
}
.infoBlock {
  display: inline-block;
  width: 45%;  
}
.infoBlockImg {
  display: inline-block;
  width: 45%;
  text-align: center;
  margin-right: .6rem;
}
  .infoBlockImg img {
    max-width: 95%;
    border-radius: 6px;
  }
.blockRight {
  float: right;
}
.blockLeft {
  float: left;
}

@keyframes glowBtn {
  from {
    box-shadow: 0 0 3px #fff, 0 0 6px #fff, 0 0 9px #fff, 0 0 12px #fff;
  }

  to {
    box-shadow: 0 0 3px #1b6ec2, 0 0 6px #1b6ec2, 0 0 9px #1b6ec2, 0 0 8px #1b6ec2;
  }
}
.partnerLink .mat-icon {
  font-size:30px;
  margin-top:.1rem
}
.partnerLink span {
  margin-left: .8rem;
  line-height: 2.2rem;
  vertical-align: bottom;
  font-weight: 500
}




@media only screen and (max-width: 426px) {
  H2 {
    font-size: 1.5rem;
  }

  H3 {
    font-size: .9rem;
  }

  H5 {
    font-size: .8rem;
  }

  .logoImg {
    right: .3rem;
    height: 80px;
    margin-top: -110px;
  }

  .homeContent {
    font-size: 13px;
  }

  .tipWallet {
    display: block;
    margin-bottom: .3rem;
    margin-top: .2rem;
  }
    .tipWallet .btn-primary {
      font-size: .5rem;
    }

  ul {
    padding-inline-start: 14px;
  }
  .introList li {
    margin-bottom:.4rem;
  }

 

  .promoImg {
    max-width: 340px;
    height: auto;
  }

  #twitter-widget-0 {
    font-size: .7rem;
  }

  .twitter-follow-button {
    data-width: 100px
  }

  [data-size="large"] {
    font-size: .8rem
  }

  #introBlock {
    margin-bottom: 3rem
  }

  .infoBlock {
    display: block;
    width: unset;    
  }
  .infoBlockImg {
    display: block;
    width: unset;
    text-align: center;
    margin-bottom: 1rem;    
  }
  .blockLeft, .blockRight {
    float: unset;
  }

  .historic .mat-expansion-panel .mat-expansion-panel-header-title {
    font-size: 12px;
  }
  .historic .mat-expansion-panel .mat-icon {
    width: 40px;
    margin-right: 0.3rem;
  }

}
