@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.rotate {
  animation: rotation 1s 1 linear;
}

a {
  display: inline-block;
}

.count {
  float: right;
  color: lightslategray;
  font-size: .8em;
  font-weight: 500;
  margin-right: 50px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.mat-button-toggle-group {  
  height: 2rem;
  font-size: .7rem;
  font-weight: bold;
  color: white;
  margin-left: 200px;
  vertical-align: top;
}

td.mat-mdc-cell {
  /*font-size:14px;*/
}

/*Sale Sign*/
.salepos {
  position: absolute;
  margin-left: 0px;
  z-index: 100;
  font-size: .8rem;
  padding-top: 4px;
  text-align:center;
  width: 3rem
}

  .salepos::before {
    background: url("../../assets/red-for-sale-sign.png") no-repeat;
    content: "";
    height: 38px;
    width: 57px;
    background-size: contain;
    margin-top: -18px;
    margin-left: -14px;
    position: absolute;
    z-index: -1;
    background-color: white
  }
.saleposInner {
  width: 2rem;
  display: inline-block;
}
tr.mat-mdc-header-row th.mat-column-current_price, tr td.mat-column-current_price {
  padding-left: 0px;
}

.table-container {
  margin: 0px 1em .6em 1em;
}

tr.mat-mdc-header-row {
  height: 38px
}

.paginatorContainer {
  width: 380px;
  height: 2.4em;
  margin-top: -8px;  
}

.closeframe {
  position: absolute;
  top: 6px;
  right: 6px;
  color: black;
  z-index: 1001;
}


.mat-column-header-row-second-group {
  text-align: center;
  font-weight: 600;
}

.mat-column-name, .mat-column-token_id {
  padding-right: 1em
}

.mat-column-token_id{
  width:70px;
  padding-left: .8rem;
}

.mat-column-name {
  min-width: 130px;
  vertical-align: middle;
}
  td.mat-column-name span {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    vertical-align: middle;
    padding-left:.2rem;
    width:5rem;
  }
  td.mat-column-name img {   
    margin-top:-4px;
    height:40px;
  }

td.mat-column-trait_agility, td.mat-column-trait_charisma, td.mat-column-trait_endurance, td.mat-column-trait_luck, td.mat-column-trait_strength, td.mat-column-trait_intelligence {
  text-indent: .6rem;
}

td.mat-column-efficiency_industry, td.mat-column-efficiency_production, td.mat-column-efficiency_energy, td.mat-column-efficiency_office, td.mat-column-efficiency_commercial, td.mat-column-efficiency_municipal {
  text-align: center;
  padding-right: 1rem;
}
.industryImg {
  max-height: 44px;
  margin-top: -3px;
}




.topBtnDiv {
  margin: 1rem 1rem 1rem;
}

.copy {
  font-size: .74rem;
  width: 148px;
  padding-left: 1.7rem;
  white-space: nowrap
}
.topBtnDiv i {
  font-size: 1rem;
  margin-left: 8px;
  margin-top: 9px;
  position: absolute;
  color: white;
  z-index: 1;
}

.topBtnDiv ::ng-deep .mat-button-toggle-label-content {
  line-height:38px;
}
.topBtnDiv ::ng-deep .mat-button-toggle-group {
  height: 38px;
  font-size: .8rem;
  font-weight: 500;
}


.lastUpdated {
  vertical-align:middle;
  font-size: .7rem;
  position: absolute;
  margin-left: 1.2rem;
  margin-top: 0.4rem;
  color: gray;
}
  .lastUpdated .mat-icon {
    font-size: 1.2rem;
    width: 22px;
    height: 22px;
    padding-top: 0.2rem;
  }
  .lastUpdated span {
    vertical-align: super;
  }

td.mat-column-efficiency_energy_water span {
  display: block;
  line-height: 1.8rem;
  margin-right: 1rem;
}

.fa-tint{  
  color: dodgerblue;
  margin-right: .3rem;
  margin-left: -.4rem;
}
.fa-bolt {
  color: darkorange;
  margin-right: .3rem;
  margin-left: -.4rem;
}

.mat-column-trait_agility span:nth-child(2), .mat-column-trait_intelligence span:nth-child(2), .mat-column-trait_charisma span:nth-child(2),
.mat-column-trait_endurance span:nth-child(2), .mat-column-trait_luck span:nth-child(2), .mat-column-trait_strength span:nth-child(2) {
  display: block;
  text-indent: initial;
}

.mat-column-trait_avg span {
  display: block
}

.fa-paw {
  color: dodgerblue;
  text-indent: initial;
  padding-left: .2rem;
}




/* Progress Indicator */
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.rotate {
  animation: rotation 1s 30 linear;
}

.progressIcon {
  font-size: .7rem;
  z-index: 1;
}
.mobileVisible {
  display: none;
}
.hideLink{
  display: none;
}

.progressFan {
  margin-left: .2rem;
  font-size: .9rem;
  z-index: 1;
  color: #1565c0;
}
.rotateFan {
  animation: rotation 2s 120 linear;
}
.refreshDisable {
  color: lightgray
}
.fa-check {
  opacity: 0;
  transition: 2s;
  /*color: green;*/
}
.showTick{
  opacity: 1
}





@media only screen and (max-width: 426px) {
  .mobileVisible{
    display:inline-block
  }

  .mat-button-toggle-group {
    margin-left: unset;
    float: right;
    vertical-align: top;
  }

  .table-container {
    margin-bottom: 20px
  }

  .modalFrame {
    position: absolute;
    left: 0;
    bottom: unset;
    top: 0;
    height: 100vh;
    transform: none !important;
    width: 100vw;
  }

  .table-container {
    margin-left: 0;
    margin-right: 0;
  }

  .closeframe {
    left: 90vw;
  }
  .count {
    left: 85vw;
    top: 30px;
    display: inline-block;
    position: absolute;
    margin-right: 0;
  }


  #tableView {
    left: 48vw;
    position: absolute;
  }


  .tableHeader {
    left: 82vw;
    position: absolute;
    margin-top: -8px;
  }
  .mat-column-header-row-second-group{
    text-align:right;
  }

  tr td:first-child {
    padding-left: 2px;
    text-align: center
  }
  th.mat-mdc-header-cell:first-of-type.mat-column-name {
    padding-left: 10px;
    padding-right: 0
  }

  td.mat-mdc-cell {
    font-size: .74rem;
    font-weight: 500;
  }

    td.mat-mdc-cell:last-of-type, td.mat-mdc-footer-cell:last-of-type, th.mat-mdc-header-cell:last-of-type {
      padding-right: 10px
    }

  th.mat-column-current_price {
    min-width: 3.2rem;
  }
  tr td.mat-column-current_price{
    text-align:left
  }

  .salepos {
    margin-left: 3px
  }
    .salepos:before {
      height: 30px;
      width: 46px;
      margin-top: -12px;
    }

  .saleposInner {
    margin-left: -6px;
    font-size: .7rem;
    font-weight: 600;
  }

  .mat-sort-header-container {
    
  }
  .mat-column-name {
    min-width: 3.2rem;
    padding-right: .3em
  }

  td.mat-column-name img{
    padding-top: 4px;
  }
  td.mat-column-name span {
    width: 3rem;
    padding-bottom: 4px;
    padding-top: 6px;
  }

  .mat-column-buyer_matic_key a span {
    width: 2.4rem;
  }

    .mat-column-buyer_matic_key a span.maticLink {
      width: 2.5rem;
    }

  .mat-column-offer_date {
    padding-left: 12px !important
  }

  .mat-column-token_district, td.mat-column-token_district {
    padding-left: 0;
    padding-right: 8px;
  }

  .mat-sort-header span {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    /*text-overflow: ellipsis;*/
    vertical-align: middle;
    width: 1.3rem;
  }
  th.mat-column-building_level span {
    width: 1.8rem
  }

  .mat-paginator {
    margin-top: 10px;
  }
  .mat-badge-medium {
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-size: .66rem;
  }
  .industryImg {
    max-height: 40px;
    margin-left: -2px;
  }

  .fa-paw {
    padding-left: 0.1rem;
    position: absolute;
    margin-top: 2px;
  }
}
