.rotate {
  animation: rotation 1s 1 linear;
}

a {
  display: inline-block;
}

.adframe {
  text-align: left;
  width: 500px;
  min-height: 150px;
  border: solid 1px #ccc;
  position: fixed;
  padding-bottom: 10px;
  margin-top:-40px;
  left: 30%;  
  cursor: move;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  z-index: 1000;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

  .adframe:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

.closeframe {
  position: absolute;
  top: 6px;
  right: 6px;
  color: black;
  z-index:1001;
}

.adSummary {
  font-size: .8rem;
  margin: 1rem
}

  .adSummary div {
    line-height: 1.8em;
  }

@media only screen and (max-width: 426px) {
  .adframe{
      left:0;
      width:98%;      
  }
}
