a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/*** Link underline amine ***/
a {
  position: relative;
  text-decoration: none;
}
  a:hover {
  }


.dayExpiry {
  position: absolute;
  margin-top: 18px;
  margin-left: -22px;
  color: lightcoral;
  font-size: .6rem;
  font-weight: bold;
  text-shadow: -1px -1px 1px #fff, 1px 1px 1px #fff;
  width:3rem;
}

.world{

}

.alertHistory {
  position: absolute;
  top: 0.9rem;  
  font-size: 1.6rem;
  margin-right: 1rem;
  padding-left: 2.5rem;
}
.desktopAlert{
  display: inline-block;
}
.mobileAlert {
  display: none;
}

@media only screen and (max-width: 415px) {
  .mobileAlert{
    display: inline-block;
  }
  .desktopAlert {
    display: none;
  }

  .world {
  }

  .alertHistory {
    position: relative;
    margin-top: unset;
    margin-left: 10px;
    padding-left: unset;
    top: unset;

  }

}
