<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/', globals.worldCode]">MetaverseMax</a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>

      <app-nav-menu-world class="searchDistrict" (selectWorldEvent)="selectWorld($event)" [selectedWorld]="globals.selectedWorld"></app-nav-menu-world>

      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end" [ngClass]="{ show: isExpanded }">

        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/', globals.worldCode]">Home</a>
          </li>
          <li #officeFilter *ngIf="globals.ownerAccount.matic_key != 'Not Found'" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/', globals.worldCode, 'owner-data']" [queryParams]="{matic: globals.ownerAccount.matic_key}">My-Portfolio</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/', globals.worldCode, 'owner-data']">Plot-Owner</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/', globals.worldCode, 'district-list']">District</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="globals.ownerAccount.pro_tools_enabled == true">
            <a class="nav-link text-dark" [routerLink]="['/', globals.worldCode, 'building-ip']">
              <span>Building-IP</span>
              <span class="dayExpiry">{{ globals.ownerAccount.pro_expiry_days }} days</span>
            </a>
          </li>
        </ul>

      </div>
    </div>
  </nav>
</header>
