<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-white border-bottom box-shadow mb-3"
       [ngClass]="{ 'navbar-light':!globals.ownerAccount.dark_mode, 'bg-white':!globals.ownerAccount.dark_mode, 'navbar-dark':globals.ownerAccount.dark_mode, 'bg-dark':globals.ownerAccount.dark_mode}">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/', globals.worldCode]">MetaverseMax</a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>

      <app-nav-menu-world class="world" (selectWorldEvent)="selectWorld($event)" [selectedWorld]="globals.selectedWorld"></app-nav-menu-world>
      <app-balance class="balance" style="" *ngIf="globals.ownerAccount.wallet_active_in_world && globals.ownerAccount.balance_visible" [ngClass]="{ show: isExpanded }"></app-balance>
      <app-alert-history class="alertHistory mobileAlert" *ngIf="globals.ownerAccount.alert_count >0"></app-alert-history>

      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end" [ngClass]="{ show: isExpanded }">
        <div class="gradientBar barTop"></div>
        <div class="gradientBar barBottom"></div>
        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link lineAnim" [ngClass]="{ 'text-dark':!globals.ownerAccount.dark_mode, 'text-light':globals.ownerAccount.dark_mode}" [routerLink]="['/', globals.worldCode]">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link lineAnim" [ngClass]="{ 'text-dark':!globals.ownerAccount.dark_mode, 'text-light':globals.ownerAccount.dark_mode}" [routerLink]="['/', globals.worldCode, 'world']">World</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link lineAnim" [ngClass]="{ 'text-dark':!globals.ownerAccount.dark_mode, 'text-light':globals.ownerAccount.dark_mode}" [routerLink]="['/', globals.worldCode, 'owner-data']">Plot-Owner</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link lineAnim" [ngClass]="{ 'text-dark':!globals.ownerAccount.dark_mode, 'text-light':globals.ownerAccount.dark_mode}" [routerLink]="['/', globals.worldCode, 'district-list']">District</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="globals.ownerAccount.pro_tools_enabled" style="">
            <a class="nav-link lineAnim" [ngClass]="{ 'text-dark':!globals.ownerAccount.dark_mode, 'text-light':globals.ownerAccount.dark_mode}" (click)="navRanking()">
              <span>Ranking</span>
              <span class="dayExpiry">{{ globals.ownerAccount.pro_expiry_days }} days</span>
            </a>
          </li>
          <li>
            <app-nav-menu-owner (darkModeChangeEvent)="darkModeChange($event)"></app-nav-menu-owner>
          </li>
          <li>
            <app-alert-history class="alertHistory desktopAlert" *ngIf="globals.ownerAccount.alert_count >0"></app-alert-history>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <app-account-approve></app-account-approve>  

</header>

