a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/*** Link underline amine ***/
a {
  position: relative;
  text-decoration: none;
}
  a:hover {
  }
a.nav-link {
  line-height: 28px;
}

.dayExpiry {
  position: absolute;
  margin-top: 14px;
  margin-left: -22px;
  color: lightcoral;
  font-size: .6rem;
  font-weight: bold;
  text-shadow: -1px -1px 1px #fff, 1px 1px 1px #fff;
  width: 3rem;
}

.world{

}

.balance {
  align-self: flex-start;
  margin-top: 3px;
}

.alertHistory {
  position: absolute;
  top: 0.9rem;  
  font-size: 1.6rem;
  margin-right: 1rem;
  padding-left: 10px;
}
.desktopAlert{
  display: inline-block;
}
.mobileAlert {
  display: none;
}
.gradientBar {
  height: 0.667px;
  width: 140px;
  position: absolute;
  margin-top: -42px;
  margin-right: 6px;
  z-index: 1;
}

.barTop {
  position: absolute;
  margin-top: -43px;
}
.barBottom {
  position: absolute;
  margin-top: 42px;  
}

/* Galaxy S8+ */
@media only screen and (max-width: 360px) {
  .alertHistory{
    font-size: 22px
  }
  .navbar-brand{
    font-size: 16px
  }
}

@media only screen and (max-width: 430px) {

  .navbar {
    display: flex;
    margin-right: 2px;
  }

  .alertHistory{
    order:1;
    position: relative;
    margin-top: unset;
    margin-left: 0;
    margin-right: 0;
    padding-left: unset;
    top: unset;
  }
  .navbar-brand{
    order:2;
    margin-right:0;
  }
  .navbar-toggler{
    order:3;
  }
  .world{
    order:4;
    margin-right: 8px;
  }
  .navbar-collapse{
    order: 6;
   }

  .nav-item{
    width: 50%;
  }

  .mobileAlert{
    display: inline-block;
  }
  .desktopAlert {
    display: none;
  }
  .gradientBar{
    display:none;
  }

  .balance{
    margin-right: 0;
    position: absolute;
    right: 10px;
    top: 56px;
    display:none;
  }
  .show{
    display:unset;
  }

}
