a {
  display: inline-block;
}

.table-container {
  margin: 0 6px 0px 10px;
}

td.mat-cell{
  font-size: .8rem;
  font-weight: 500
}

tr.mat-header-row {
  height: 38px
}

.paginatorContainer {
  width: 360px;
  height: 42px;
  margin-top: -8px;
  overflow: hidden;
}

td.mat-column-tax_type, td.mat-column-change_desc {
  padding-right: 1.4rem;
}

td.mat-column-tax_type{
  width: 190px
}

td.mat-column-change_desc {
  width: 140px
}
td.mat-column-change_date{
  padding-right: .6rem;
}

td.mat-column-buyer_matic_key {
  vertical-align: bottom;
  padding-right: .3rem;
}


.mat-column-buyer_matic_key a {
  display: inline-block;
  padding: unset;
  vertical-align: text-bottom;
  margin-left: 2.1rem;
}

  .mat-column-buyer_matic_key a span {
    width: 4rem;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }

    .mat-column-buyer_matic_key a span:hover {
      text-overflow: unset;
      transition: 1s;
    }

.mat-column-buyer_matic_key img {
  display: inline-block;
  vertical-align: super;
}

.mat-column-offer_date{
  padding-left: 10px;
  padding-right: 14px;
}

td.mat-column-buyer_offer{
  text-align:center
}

.ownerImgCol {
  position: absolute;
  margin-top: -10px;
  margin-left:-.1rem;
}

.mat-column-token_district{
  padding-left: .3rem;
  text-align: center;
}
td.mat-column-token_district {
  padding-left: .6rem;
}




@media only screen and (max-width: 415px) {

  .table-container {
    margin-left: 0;
    margin-right: 0;
  }

  td.mat-cell {
    font-size: .74rem;
    font-weight: 500;
  }

  td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type{
    padding-right:10px
  }

  .mat-expansion-panel{
    margin: 0;
    box-shadow: none;
    margin-left: -34px;
    overflow: visible;
  }
}
