.search {
  display: flex;
  flex-direction: column;
}
.buttonContainer {
  align-self: end;
  margin-top: -10px
}

.rotate {
  animation: rotation 1s 30 linear;
}

a {
  display: inline-block;
}


#buttonfind {
  width: 130px;
  padding-right: 4px;
  font-size: .96rem
}

.plotx {
  margin-right: 10px;
  width: 60px;
}

.ploty {
  width: 60px
}

.buttonContainer{
  
}

.searchIcon {
  font-size: 16px;
  margin-left: 5px;
  margin-top: 10px;
  position: absolute;
  color: white;
  z-index: 1;
}

.buttonEffect {
  animation: glowBtn 1.4s ease-in-out infinite alternate;
}



@media only screen and (max-width: 426px) {
  .search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
  .buttonContainer {
    align-self: auto;
  }
  
}

