.search {
  display: flex;
  flex-direction: column;
}
.buttonContainer {
  align-self: end;
  margin-top: -10px
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.rotate {
  animation: rotation 1s 30 linear;
}

a {
  display: inline-block;
}


#buttonfind {
  width: 130px;
  padding-right: 4px;
  font-size: .96rem
}

.plotx {
  margin-right: 10px;
  width: 60px;
}

.ploty {
  width: 60px
}

.buttonContainer{

}
.searchIcon {
  font-size: 1.1rem;
  margin-left: 6px;
  margin-top: 10px;
  position: absolute;
  color: white;
  z-index: 1;
}

.buttonEffect {
  animation: glowBtn 1.4s ease-in-out infinite alternate;
}

@keyframes glowBtn {
  from {
    box-shadow: 0 0 3px #fff, 0 0 6px #fff, 0 0 9px #fff, 0 0 12px #fff;
  }

  to {
    box-shadow: 0 0 3px #1b6ec2, 0 0 6px #1b6ec2, 0 0 9px #1b6ec2, 0 0 8px #1b6ec2;
  }
}




@media only screen and (max-width: 415px) {
  .search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
  .buttonContainer {
    align-self: auto;
  }
  
}

