.containerDialog {
  height: 478px;

}

.tabHeaderBank{
  height: 52px;
  background-color: dimgray;
  padding-top: 4px;
  padding-left: 2px;
  padding-right: 2px;
}
::ng-deep .containerDialog .mdc-tab{
  margin-left: 4px;
  margin-right: 4px;
}

::ng-deep .containerDialog .mat-mdc-tab:hover{
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

::ng-deep .containerDialog .mdc-tab--active{
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;  
}
::ng-deep .containerDialog .mat-mdc-tab .mdc-tab__text-label{
  color:white;
  font-size: 15px;
  font-weight: 500;
}

.tab1Content,.tab2Content{
  display:none;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  height: 396px;
}

.topSection{
  display:flex;
  flex-direction: column;
  min-height:175px;
}
.balanceSection {
  display: flex;  
}
.balanceInfo {
  padding: 20px;
}
.balanceLabel {
  font-size: 16px;
  margin-bottom: 4px;
  color: lightslategray;
}
.balanceCoin {
  padding: 10px;
  min-width: 260px;
  background: lightskyblue;
  display: inline-block;
  border-radius: 8px;
}
.progressMsgCollection {
  margin-top: 14px;
}
.processMsg {
  display: flex;
  align-items: center;
  height: 30px;
}
.processMsg span {
  padding-left: 22px;
}
.progressInfo{
  width: 80%;
  margin-bottom: 2px;
}
.progressInfo .progressIcon{
  display: inline-block;
  position: relative;
  vertical-align: text-bottom;
}
.progressInfo .warning{
  margin-left: 3px;
  position: relative;
  height: 19px;
  vertical-align: text-top;
  width: 19px;
}

.hideProgress, .progressInfo .hideProgress{
  display:none;
}
.showProgress {
  display: block
}
.progressSection{
  height: 40px
}
.progressData {
  text-align: center;
}
.progressText {  
}
.statusCheck {
  margin-left: 40px;
  margin-bottom: 10px;
}
  .statusCheck .progressIcon, .statusCheck .checkIcon {
    margin-left: -21px;
    margin-top: 2px;
  }


.containerAction {
  display: flex;
  border-top: thin lightgray solid;
  background-color:white;
}
.actionMega {
  width: 300px;
  height: 250px;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-direction:column
}
.actionMega:first-of-type{
  border-right: thin lightgray solid;
}
.inputAmount {
  margin-top: 14px;
  margin-bottom: 14px;
  font-size: 20px;
  font-weight: 500;
  max-height: 56px;         /* Prevent input errors pushing tags down*/
}
.buttonEffect {
  font-size: 18px;
  padding-left: 30px;
  padding-right: 28px
}
.mat-mdc-form-field-error{
  font-size:12px
}


.transferIcon {
  font-size: 1rem;
  margin-left: 8px;
  margin-top: 9px;
  position: absolute;
  color: white;
  z-index: 1;
  display:none
}
.checkIcon, .progressIcon {
  font-size: 1rem;
  position: absolute;
  z-index: 1;
  display: none;
  margin-left: -24px;
  color: green;
}
i.rotate {
  display: block;
  animation: rotation 1s 30 linear;
  animation-iteration-count: infinite;
}

.mega {
  width: 24px;
  margin-top: -2px;
}

.megaSmall {
  width: 18px;
}

.amount {
  min-width: 38px;
  display: inline-block;
  font-size: 26px;
  vertical-align: middle;
  color: white;
  font-weight: 700;
  padding-left: 2px;
}

.megaBalance {
  margin-bottom: 12px;
  margin-top: 6px;
}

.contractWarning, .warning {
  font-size: 20px;
  position: absolute;
  color: darkorange;
  display: none;
  margin-left: -24px;
  margin-top: -1px;
}


.visible{
  display:block;
}
.disabled {
  display: none;
}
.enabled {
  display: inline-block
}




@media only screen and (max-width: 426px) {
  .containerAction, .balanceSection {
    flex-direction: column;
  }

  .actionMega{
    width: 100%;
  }
}
