

.balanceCoin {
  border: 2px rgba(21,101,192,1) solid;
  margin-left: 30px;
  border-radius: 12px;
  padding: 4px 16px 4px 8px;
}

.mega {
  width: 18px;
  margin-top: -2px;
}

.amount{
  min-width: 38px;
  display: inline-block;
}
