
<div class="searchBlock">

  <div class="searchControls">
    <div ngbDropdown class="d-inline-block">
      <i #progressIcon class="fas fa-sync-alt progressIcon"></i>
      <button mat-raised-button color="primary" class="buttonEffect" id="typeList" ngbDropdownToggle>{{selectedType}}</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button *ngFor="let building of typeList" ngbDropdownItem (click)="searchFromDropdown(building, '')"><span>{{building}}</span></button>
      </div>
    </div>

    <div ngbDropdown class="d-inline-block">
      <button mat-raised-button color="primary" class="buttonEffect" id="levelList" ngbDropdownToggle>{{selectedLevel}}</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button *ngFor="let level of levelList" ngbDropdownItem (click)="searchFromDropdown('', level)"><span>{{level}}</span></button>
      </div>
    </div>
  </div>

  <img src="{{ globals.worldURLPath }}citizen/{{ globals.firstCitizen }}" class="defaultAvatorImg" height="160" crossorigin="anonymous" referrerpolicy="no-referrer" />
</div>

<h3 class="featureHeader">Building Ranking League</h3>

<h6 class="featureDesc">View ranked listing of buildings based on IP (Influence Points)</h6>
<p  class="featureInstruct">Select a building type and level to start search</p>
<p class="loading" *ngIf="buildingType>0 && !buildingCollection"><em>Searching...</em><i id="searchIcon" class="fas fa-sync-alt searchIcon rotate" style=""></i></p>

<app-prod-history [hidden]="!this.historyShow" (hideHistoryEvent)="hideHistory($event)"></app-prod-history>

<mat-accordion multi *ngIf="buildingCollection && buildingCollection.buildings">

  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>info</mat-icon>
        <span>Building Level IP Details</span>
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="summaryInfo" *ngIf="buildingCollection && buildingCollection.buildings">
      <div>
        <span>Buildings:</span>
        <span>{{ buildingCollection.buildings.length }}</span>
        <span title="Effect on IP max-to-min range">IP Impact:</span>
        <span>{{ buildingCollection.buildingIP_impact }}%</span>
      </div>
      <div>
        <span>Min IP:</span>
        <span>{{ buildingCollection.minIP }}</span>
        <span>Max IP:</span>
        <span>{{ buildingCollection.maxIP }}</span>
      </div>
      <div>
        <span>Range IP:</span>
        <span>{{ buildingCollection.rangeIP }}</span>
        <span>Avg IP:</span>
        <span>{{ buildingCollection.avgIP }}</span>
      </div>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel id="activeBuildingPanel" expanded="false" *ngIf="buildingCollection && buildingCollection.active_buildings && (buildingType == 3 || buildingType == 5 || buildingType == 7) ">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>build</mat-icon>
        <span>Active Buildings</span>
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="header activeBuilding">
      <span>Type</span>
      <span>Total</span>
      <span>Active</span>
      <span>Shutdown</span>
    </div>
    <div class="activeBuilding" *ngFor="let resource of buildingCollection.active_buildings">
      <div>
        <span>{{ resource.name }}</span>
        <span>{{ resource.total }}</span>
        <span>{{ resource.active }}</span>
        <span>{{ resource.shutdown }}</span>
      </div>      
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel id="totalProducePanel" *ngIf="buildingCollection && (buildingType == 3 || buildingType == 5 || buildingType == 7) " expanded="false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>account_balance</mat-icon>
        <span>Max Produce - Currently Active</span>
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div *ngIf="buildingCollection && buildingCollection.buildings">
      <div active_buildings>
        <div class="activeCount">
          <span>Active Buildings:</span>
          <span>{{ buildingCollection.active_count }}</span>
          <span>* Recent Estimate</span>
        </div>
        <div class="resourceCol" >
          <div><span>Weekly</span></div>
          <div class="resourceTotal" *ngFor="let resource of buildingCollection.total_produced">
            <span>{{resource.name}}</span>
            <span>{{resource.totalFormat}}</span>
          </div>
        </div>
        <div class="resourceCol">
          <div><span>Monthly</span></div>
          <div class="resourceTotal" *ngFor="let resource of buildingCollection.total_produced_month">
            <span>{{resource.name}}</span>
            <span>{{resource.totalFormat}}</span>
          </div>
        </div>
      </div>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel expanded="false" id="producePredictionPanel" *ngIf="buildingCollection && buildingCollection.show_prediction && buildingCollection.buildings && (buildingType == 3 || buildingType == 5 || buildingType == 7) ">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>history</mat-icon>
        <span>Produce Prediction Eval</span>
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="summaryInfo">
      <div>
        <span>Produce Buildings:</span>
        <span>{{ buildingCollection.buildings_predict }}</span>
        <span style="width:8rem">* Last week period</span>
      </div>
      <div>
        <span>Correct:</span>
        <span>{{ buildingCollection.predict.correct }}</span>
        <span>% Correct:</span>
        <span>{{ buildingCollection.predict.correct_percent }}%</span>
      </div>
      <div>
        <span>Miss:</span>
        <span>{{ buildingCollection.predict.miss }}</span>
        <span>% Miss:</span>
        <span>{{ buildingCollection.predict.miss_percent }}%</span>
      </div>
      <div>
        <span>Above:</span>
        <span>{{ buildingCollection.predict.miss_above }}</span>
        <span>% Above:</span>
        <span>{{ buildingCollection.predict.miss_above_percent }}%</span>
      </div>
      <div>
        <span>Below:</span>
        <span>{{ buildingCollection.predict.miss_below }}</span>
        <span>% Below:</span>
        <span>{{ buildingCollection.predict.miss_below_percent }}%</span>
      </div>
    </div>
  </mat-expansion-panel>

</mat-accordion>

<app-building-filter [hidden]="!this.buildingFilterShow" (filterBuildingEvent)="filterBuilding($event)"></app-building-filter>

<div class="table-container" [hidden]="!buildingCollection || !buildingCollection.buildings || !buildingCollection.buildings.length">

  <div *ngIf="buildingType==5 || buildingType==3 || buildingType==7" class="helpTip">    
    <mat-icon class="glowText">help</mat-icon>    
    <span>Click </span>
    <img src="./assets/MagnifyHistory.png" class="magnifyHistoryIcon" height="30" />
    <span>to show history and production analysis</span>
  </div>
  <div class="lastUpdated">
    <mat-icon>access_time</mat-icon>
    <span *ngIf="buildingCollection">Last updated {{ buildingCollection.sync_date }} GMT</span>
  </div>

  <div fxLayout fxLayoutAlign="center center" style="display:inline-block">
    <mat-form-field fxFlex="30%" class="tableFilter">
      <input matInput type="text" (keyup)="applyFilter($event.target.value)" placeholder="Owner Filter">
    </mat-form-field>
  </div>
  <div class="filterControls">
    <div class="activeFilter" fxLayout fxLayoutAlign="center center" [hidden]="buildingType!=5 && buildingType!=3 && buildingType!=7 && buildingType!=6">
      <div>
        <mat-checkbox #activeChkbox
                      fxFlex="30%"
                      class="activeWeek"
                      (change)="filterActive($event)">
          <i class="fas fa-running filterIcon" title="Active production during prior week"></i>Active (Prior Week)
        </mat-checkbox>
      </div>
    </div>
    <div class="activeFilter" fxLayout fxLayoutAlign="center center" [hidden]="buildingType==6">
      <div>
        <mat-checkbox #toRentChkbox
                      fxFlex="30%"
                      class="activeWeek"
                      (change)="filterToRent($event)">
          <i class="fas fa-truck-moving filterIcon" title="Available to rent"></i>To Rent
        </mat-checkbox>
      </div>
    </div>
    <div class="activeFilter" fxLayout fxLayoutAlign="center center">
      <div>
        <mat-checkbox #forSaleChkbox
                      fxFlex="30%"
                      class="activeWeek"
                      (change)="filterForSale($event)">
          <i class="fas fa-ad filterIcon" title="Available for sale"></i>For Sale
        </mat-checkbox>
      </div>
    </div>
  </div>

  <mat-paginator #paginatorTop (page)="handlePaginatorBottom($event)" [hidden]="hidePaginator" [pageSize]="500" [hidePageSize] [showFirstLastButtons] class="paginatorContainer top"></mat-paginator>

  <table #ipRank mat-table [dataSource]="dataSource" matSort matSortStart="desc" class="table-striped mat-elevation-z8" style="width:100%; display:inline-table">
    <ng-container matColumnDef="pos">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <span>#</span>
      </th>
      <td mat-cell *matCellDef="let row">
        <span class="salepos" *ngIf="row.price>0">{{row.price.toLocaleString()}}</span>
        <span class="toRent" *ngIf="row.r_p>0">{{row.r_p.toLocaleString()}} / day</span>
        <img class="rented" *ngIf="row.ren==1" src="./images/rented.png" />

        <span>{{row.pos}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="rank">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <span matBadge="B" matBadgePosition="above before" matBadgeSize="small" class="long-text">IP Efficiency %</span>
        <span matBadge="B" matBadgePosition="above before" matBadgeSize="small" class="short-text">IP Eff%</span>
      </th>
      <td mat-cell *matCellDef="let row" [style.height]="row.warn != '' ? '5.1rem' :'0'">
        <span class="rankEff">{{row.rank}}%</span>

        <a class="magnifyHistoryPositioner" *ngIf="buildingType==5 || buildingType==3 || buildingType==7" role="button" (click)="showHistory(row.id, row.pos_x, row.pos_y, buildingType, row.rank)">
          <img src="./assets/MagnifyHistory.png" class="magnifyHistoryIcon" height="30" />
        </a>

        <div class="rowWarning" *ngIf="row.warn != ''">
          <mat-icon>warning</mat-icon>
          <span>{{row.warn}}</span>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="ip_t">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <span class="long-text">Total IP</span><span class="short-text">Total IP</span>
      </th>
      <td mat-cell *matCellDef="let row">
        <span>{{ row.ip_t}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="ip_b">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <span class="long-text">Base influence</span><span class="short-text">Base IP</span>
      </th>
      <td mat-cell *matCellDef="let row">
        <span>{{ row.ip_b }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="bon">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <span class="long-text">IP Bonus</span><span class="short-text">Bonus</span>
      </th>
      <td mat-cell *matCellDef="let row">
        <span>{{ row.bon }}</span>%
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Owner </th>
      <td mat-cell *matCellDef="let row">

        <img *ngIf="row.nid >0" src="{{ globals.worldURLPath }}citizen/{{ row.nid }}" class="ownerImgCol" height="60" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <img *ngIf="row.nid ==0" src="./images/MysteryOwner.png" class="ownerImgCol" height="50" style="margin-top:0" />

        <a class="nav-link lineAnim" [routerLink]="['/', globals.worldCode, 'owner-data']" [queryParams]="{matic: row.name_m}" title="{{ row.name }}">
          <span *ngIf="row.name !=''">{{ row.name }}</span>
          <span class="maticLink" *ngIf="row.name==''">{{ row.name_m.substring(0,14) }}</span>
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="con">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <span matBadge="C" matBadgePosition="above before" matBadgeSize="small" class="long-text">Damage Points</span>
        <span class="short-text">Dmg #</span>
      </th>
      <td mat-cell *matCellDef="let row">
        <span *ngIf="row.con ==100" style="color:green">{{ 100 - row.con }}</span>
        <span *ngIf="row.con >60 && row.con <100" style="color:darkorange">{{ 100 - row.con }}</span>
        <span *ngIf="row.con <=60" style="color:red">{{ 100 - row.con }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="pre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <span class="long-text">Predict Eval</span><span class="short-text">Eval</span>
      </th>
      <td mat-cell *matCellDef="let row">
        <div>
          <i *ngIf="row.pre==0 && row.act == true" class="fas fa-check filterIcon"></i>
          <span *ngIf="row.act == true && row.pre!=0">{{row.pre > 0 ? '+':''}}{{ row.pre}}</span>
        </div>
      </td>
    </ng-container>


    <ng-container matColumnDef="dis">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <span class="long-text">District #</span><span class="short-text">District#</span>
      </th>
      <td mat-cell *matCellDef="let row">
        <a class="lineAnim" [routerLink]="['/', globals.worldCode, 'district-summary']" [queryParams]="{district_id: row.dis}" title="Open District page">{{ row.dis}}</a>
        <div class="districtTax">
          <img src="./images/coin-m.png" />
          <span>Tax {{row.tax}}%</span>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="pos_x">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Map</th>
      <td mat-cell *matCellDef="let row" class="linkCol">
        <span> X:{{row.pos_x}} Y:{{row.pos_y}}</span>
        <div>
          <a class="lineAnim" target="_blank" href="https://play.mcp3d.com/tron/land?x={{ row.pos_x }}&y={{ row.pos_y }}">Map</a>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Type & ID </th>
      <td mat-cell *matCellDef="let row">
        <i *ngIf="row.act == true" class="fas fa-running activeProduce"></i>
        <span *ngIf="row.poi>0" class="poiBonus">{{row.poi}}%</span>
        <div>
          <span class="buildingNum">{{row.id }}</span>
          <img *ngIf="buildingCollection" src="{{ buildingCollection.img_url + row.img }}" class="industryImg">
          <span *ngIf="row.r > 0" class="buildingRes">R: {{row.r }}</span>
        </div>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator #paginatorBottom (page)="handlePaginatorTop($event)" [hidden]="hidePaginator" [pageSize]="500" [hidePageSize] [showFirstLastButtons] class="paginatorContainer"></mat-paginator>

</div>
