
.mobileVisible {
  display: none;
}
.fontNormal{
  font-weight:400
}

.featureInstruct {
  margin-top: 1rem
}

/*** Top Right Avator ***/
.defaultAvatorImg {
  float: right;
  margin-top: -10px;
  z-index: 10;
  position: relative;
}

.mat-badge-content {
  color:white !important;
}


/*Signs*/
.salepos, .toRent {
  position: absolute;
  margin-left: -98px;
  width: 80px;
  text-align: center;
  z-index: 100;
}

  .salepos::before, .toRent::before {    
    content: "";
    height: 53px;
    width: 80px;
    margin-top: -26px;
    left: 0;
    position: absolute;
    z-index: -1;
  }
  .salepos::before {
    background: url("../../assets/red-for-sale-sign.png") no-repeat;
    background-size: cover;
    background-color: white
  }
  .toRent::before {
    background: url("../../assets/red-for-rent-sign.png") no-repeat;
    background-size: cover;
    background-color: white
  }

.rented {
  position: absolute;
  margin-left: -66px;
  z-index: 100;
  width: 70px;
  margin-top: -20px;
  margin-left: -70px;
}


/* Accordian */
.mat-expansion-panel{
  width: 400px;
}
.mat-expansion-panel-header-title span{
  line-height: 1.7rem
}
.mat-expansion-panel-header-title span {
  margin-left: .2rem;
}
.BuildingInfoSummary {
  display: inline-block;
  margin-right: 2rem;
  margin-bottom: 1rem;
  vertical-align: top;
}
.fullWidth{
  display: block;
}
.expandSummaryHeight {
  height: 105px;
}

.officeGlobalSummary {
  display: inline-block;
  margin-bottom: 1rem;
  margin-top: 0;
}
  .officeGlobalSummary .summaryInfo div > span:first-child {
    width: 175px;
    padding-right: 16px;
  }
  .officeGlobalSummary .summaryInfo div > span:nth-child(2) {
    width: 145px;    
  }
/*** Search Component ***/
.searchBlock {
  float: right;
}

.searchControls{
  margin-top: 70px;
  display: inline-block;
}
.d-inline-block {
  margin-left: 1rem;
}

.summaryInfo {
  line-height: 1.6rem;
  margin-left: -0.6rem;
}
  .summaryInfo div > span {
    font-size: .9rem;
    display: inline-block;    
  }
  .summaryInfo div > span:first-child {
    width: 8rem;
    text-align: right;
    padding-right: 0.5rem;
  }
  .summaryInfo div > span:nth-child(2) {
    width: 4rem;
    font-weight:600
  }
  .summaryInfo div > span:nth-child(3) {
    width: 6rem;
    text-align: right;
    padding-right: 0.5rem;
  }
  .summaryInfo div > span:nth-child(4) {
    width: 3rem;
    font-weight: 600
  }


.activeBuilding span {
  display: inline-block;
  text-align: right;
}
  .activeBuilding span:first-child {
    width: 6rem;
  }
  .activeBuilding span:nth-child(2) {
    width: 4rem;
  }
  .activeBuilding span:nth-child(3) {
    width: 6rem;
  }
  .activeBuilding span:nth-child(4) {
    width: 3rem;
  }
  .activeBuilding div span:first-child {
    width: 5rem;
    margin-right: 1rem;
  }
  .activeBuilding div span:nth-child(3) {
    width: 5rem;
    margin-right: 1.2rem;
  }

.header {
  text-align: center;
  font-weight: 600;
}
  .header > span {
    text-align: center
  }
  .header > span:first-child {
    text-align: right;
    margin-right: 2.5rem;
    width: 3.5rem;
  }

.activeCount {
  margin-bottom: .6rem;
  text-align: left;
}
  .activeCount span:first-child {  
    margin-right: 6px;
    display: inline-block;
  }
  .activeCount span:nth-child(2) {
    font-weight: 600;
  }
  .activeCount span:last-child {
    width: 8rem;
    margin-left: 1rem;
  }


.warningIcon {
  margin-left: 1.4rem;
  color: red;
  font-size: 1.6rem;
  position: absolute;
  margin-top: -0.4rem;
}


/* Search buttons */
.rotate {
  animation: rotation 1s 30 linear;
}
.progressIcon {
  font-size: 1.1rem;
  margin-left: 6px;
  margin-top: 9px;
  position: absolute;
  color: white;
  z-index: 1;
}
#typeList {
  padding-left: 2rem;
}
.glowText {
  animation: glowText 1.4s ease-in-out infinite alternate;
}
.buttonEffect {
  animation: glowBtn 1.4s ease-in-out infinite alternate;
}

.searchIcon {
  font-size: 1.1rem;
  margin-left: 6px;
  position: absolute;
  color: #1565c0;
  z-index: 1;
}



#producePredictionPanel {
  display: inline-block;
  vertical-align: top;
  margin-top: .2rem;
  margin-right: 1rem;
}

#doubleAppBonusPanel {
  display: inline-block;
  margin-left: 2rem;
  vertical-align: top;
  margin-top: 0
}

#totalProducePanel {
  display: inline-block;
  vertical-align: top;
  margin-top: .2rem;
  text-align: center;
}
#activeBuildingPanel {
  display: inline-block;
  margin-right: 1rem;
  margin-top: .2rem
}

.resourceCol {
  display: inline-block;
  width: 11rem;
  text-align: left;
}

  .resourceCol div:first-child {
    font-weight: 600;
    text-align: left;
    margin-left: 2.2rem;
  }

.resourceTotal span:first-child {
  display: inline-block;
  font-size: .9rem;
  padding-right: 0.5rem;
  width: 40%;
}

.resourceTotal span:nth-child(2) {
  display: inline-block;
  font-size: .9rem;
  padding-left: 0.5rem;
  width: 3.6rem;
  text-align: right;
}


.overProd {
  font-weight: 600;
  margin-top: 1rem;
}

.doubleAppHeaderSpan1 {
  margin-left: .2rem
}

.doubleAppHeaderSpan2 {
  color: darkorange;
  margin-left: .2rem
}


.helpTip {
  vertical-align: middle;
  font-size: .8rem;
  /*position: absolute;*/
  margin-top: 2rem;
  color: gray;
}
  .helpTip .mat-icon {
    font-size: 1.4rem;
  }
  .helpTip span {
    vertical-align: super;
  }
  .helpTip span:last-child{
    padding-left:10px
  }
  .helpTip .magnifyHistoryIcon{
    position:relative;
  }

.tableControls {
  display: inline-block;
  margin: 8px 0
}
.filterControls{
  display: inline-block;
  vertical-align: top;
}

.lastUpdated {
  margin-bottom: .8rem;
}
.mat-mdc-form-field {
  --mat-mdc-form-field-floating-label-scale: .8;
}

/*** TABLE ***/
.table-container{
  margin-left: 20px;
  margin-right: 10px;
}

td.mat-mdc-cell {
  font-size: .9rem;
  font-weight: 500;
  vertical-align: middle;
  height: 72px;
  padding-right: .2em;
}

  td.mat-mdc-cell a {
    display: inline-block;
    padding: .5rem 0;
  }


.short-text {
  display: none;
}

.long-text {
  display: inline-block;
}

.mat-column-ip_t, .mat-column-ip_b, .mat-column-bon, .mat-column-pre, .mat-column-id{
  text-align: center;
}

/* must have deep selector or wont apply style to target column header*/
th.mat-column-ip_t ::ng-deep div, th.mat-column-ip_b ::ng-deep div, th.mat-column-bon ::ng-deep div {
  justify-content: center;
}

td.mat-column-dis {
  text-indent: .5rem;
  text-align: left;
  line-height: .5rem;
}
td.mat-column-pos_x{
  line-height: 1rem;
}

td.mat-mdc-cell:last-of-type {
  padding-right: 48px
}

.paginatorContainer {
  display: inline-block;
  float: right;
}
  .paginatorContainer.top{
    margin-top: 10px
  }

.mat-mdc-table {
  width: 100%;
  display: inline-table;
}

.table-container {
  position: relative;
  clear: both;
  margin-top: .8rem;
  /* or height: calc(100vh - 155px);
    depending on your need change overflow: auto;*/
}


table:last-child {
  margin-bottom: 30px;
}

th.mat-mdc-header-cell {
  font-size: .9rem;
  font-weight: bold;
  vertical-align: middle !important;
}

th.mat-mdc-header-cell img {
  margin-right: 2px
}


td.boldfield {
  font-weight: bold;
}

td.mat-column-rank {
  padding-left: 1rem;
}
.mat-column-rank span {
  color: goldenrod;
  font-weight: 600;
  letter-spacing: 1px;
}
td.mat-column-pos span:nth-child(2){
  display:block
}

/*** Table Flex columns ***/
td.mat-column-con {
  flex: 0 0 80px;
  width: 80px;
  text-align: left;
  text-indent: 1.6rem;
}

td.mat-column-name {
  flex: 0 0 360px;
  min-width: 240px;  
}

  td.mat-column-name a {
    display: inline-block;
    padding-right: 0;
    padding-left: .6rem;
  }

    td.mat-column-name a span {
      width: 9rem;
      display: inline-block;
      white-space: nowrap;
      overflow: hidden !important;
      text-overflow: ellipsis;
      vertical-align: super;
      padding-left: .2rem;
    }

      td.mat-column-name a span:hover {
        white-space: unset;
        text-overflow: unset;
        transition: 1s;
      }

  td.mat-column-name img {
    display: inline-block;
    vertical-align: sub
  }

.rankEff{
  width: 3.5rem;
  display: inline-block;
  line-height: 40px;
  margin-top: 7px;
}

/* Magnifier Icon */
.magnifyHistoryPosition {
  display: inline-block;
  position: relative;
  vertical-align: top;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: rgba(21, 101, 192, 0.35);
  transform: scale(1.8);    
  transition: all .5s;
  margin-bottom: 16px;
  margin-top: 10%;        /* flexible margin if line height grows due to content rap*/
  margin-left: 10px;
}
.officeMagify {
  vertical-align: middle;
  margin-left: 1rem;
  margin-right: 1rem;
}
.magnifyHistoryIcon {
  margin-top: -12px;
  transform: scale(.7);
  color: white;
}
  /* Hover - reduce size and darken circle*/
  .magnifyHistoryPosition:hover {
    background: rgba(173, 216, 230, 1);
    background-color: rgba(21, 101, 192, 0.5);
    transform: scale(1.5);
    color: #fff;
  }

  .magnifyHistoryPosition:hover::after {
    content: "";
    top: 0;
    left: 0;
    padding: 0;
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1);
    opacity: 0;
    transform: scale(0.9);
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-sizing: content-box;
    animation-iteration-count: infinite;
    animation-duration: 2.2s;
    animation-delay: 75ms;
    animation-timing-function: ease-out;
  }  
.ipTotal{
  line-height: 35px;
  display: inline-block;
}

.showIPAlertPosition {
  display: inline-block;
  position: relative;
  margin-left: .8rem;
  vertical-align: top;
  width: 24px;
}
.ipAlert {
  font-size: 1.4rem;
  margin-top: -12px;
  position: absolute;
  opacity: .6;
  /* color: white*/
}
  .ipAlert:hover {    
    opacity: 1
  }
  .shake1:before {
    content: "";
    position: absolute;    
    border-radius: 20px 20px 0 0;
    top: 2px;
    left: -2px;
    width: 10px;
    height: 18px;
    transform: rotate(-90deg);
  }
  .shake1:after {
    content: "";
    position: absolute;
    border-radius: 20px 20px 0 0;
    top: 2px;
    left: 11px;
    width: 10px;
    height: 18px;
    transform: rotate(90deg);
  }
  .shake2:before {
    content: "";
    position: absolute;
    border-radius: 20px 20px 0 0;
    top: 2px;
    left: -10px;
    width: 16px;
    height: 18px;
    transform: rotate(-90deg);
  }
  .shake2:after {
    content: "";
    position: absolute;   
    border-radius: 20px 20px 0 0;
    top: 2px;
    left: 14px;
    width: 16px;
    height: 18px;
    transform: rotate(90deg);
  }

.blink {
  animation: blinker 3s step-start both;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.fadeInAndOut {
  animation: fadeInOut 3s linear 1 forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: .20;
  }

  33% {
    opacity: 1;
  }

  66% {
    opacity: .40;
  }

  100% {
    opacity: 1;
  }
}

.lastUpdated .mat-icon {
  font-size: 1.4rem;
}

.lastUpdated span {
  vertical-align: super;
  font-size: .8rem;
}

td.mat-column-rank .rowWarning {
  position: absolute;
  margin-left: -48px;
  margin-top: -8px;
}
.rowWarning .mat-icon {
  font-size: 1rem;
  width: 21px;
  height: 19px;
  overflow: hidden;
  color: orangered;
}

.rowWarning span {
  font-size: .6rem;
  color: orangered;
  font-weight: 400;
  display: inline-block;
  vertical-align:super;
}

.mat-column-id {
  width: 100px;
}


.staminaOutImg, .activeProduce {
  position: absolute;
  color: #28a745;
  font-size: 1.8rem;
  right: -34px;
  margin-top: 12px;
  border: gray 1px solid;
  padding: 5px;
  box-shadow: 0 5px 10px rgb(0 0 0 / 12%);
  border-radius: 0 5px 5px 0;
  border-left: none;
  padding-left: 4px
}
.staminaOutImg {
  padding: 8px 0px 8px 0;
  margin-top: 10px;
}
.staminaOutImg img{
  height: 33px;
  margin-top: -6px;
}

.activeFilter{
  display: inline-block;
  margin-left: 1rem;
  font-size:.9rem;
}
.filterIcon {
  color: #28a745;
  font-size: 1.6rem;
  vertical-align: sub;
  margin-right: 0.2rem;
}

.poiBonus {
  font-weight: 800;
  font-size: .8rem;
  color: gold;
  background-color: #121888;
  border-radius: 50%;
  width: 2rem;
  display: inline-block;
  text-align: center;
  height: 1.5rem;
  padding-top: .16rem;
  
  position:absolute;
  right:2px;
  margin-top:20px
}
  .poiBonus::before {
    background: url("../../assets/POI.png") no-repeat;
    background-size: cover;
    content: "";
    height: 60px;
    width: 26px;
    display: inline-block;
    position: absolute;
    right: 18px;
    top: -22px;
  }

.buildingContain{
  position:relative;
}
.buildingNum {
  position: absolute;
  bottom: 0;  
  color: lightcoral;
  font-size: .6rem;
  font-weight: bold;
  text-shadow: -1px -1px 1px #fff, 1px 1px 1px #fff;
}
.buildingRes {
  position: absolute;
  margin-top: 44px;
  margin-left: -20px;
  /* margin-top: -20px; */
  color: lightcoral;
  font-size: .6rem;
  font-weight: bold;
  text-shadow: -1px -1px 1px #fff, 1px 1px 1px white, -1px 1px 1px white, 1px -1px 1px white
}
.industryImg {
  max-height: 60px;
}

.districtTax{
  font-size: .7rem;
  margin-left: -10px;
}
  .districtTax img{
    height:16px;
    vertical-align:top;
  }
  .districtTax span {
    margin-left: -8px;
    margin-top: 6px;
    display: inline-block;
    color: lightslategray
  }

.mdc-data-table__progress-indicator {
  position: absolute;
  bottom: -1.3rem;
  left: -1.5rem;
  width: 1298px;
  display:none;
}




@media only screen and (max-width: 426px) {

  .mobileVisible {
    display: inherit;
  }

  .short-text {
    display: inline-block;
  }

  .long-text {
    display: none;
  }

  .featureHeader {
    font-size: 1.3rem;
  }

  .featureDesc {
    font-size: .8rem;
  }

  .featureInstruct {
    font-size: .8rem;
    font-weight: 500;
  }

  .searchBlock {
    height: 150px;
    float: unset;
  }

    .searchBlock .defaultAvatorImg {
      height: 130px;
      position: absolute;
      right: 1rem;
    }

  .searchControls {
    padding-right: 1rem;
    margin-top: 3rem;
  }

  .d-inline-block {
    margin: 0 .5rem 0 .5rem
  }

  .mat-expansion-panel {
    width: 380px
  }

  .mat-expansion-panel-header-title span {
    margin-left: .4rem;
    font-size: .9rem;
  }

  .summaryInfo span {
    font-size: .8rem;
  }
  .summaryInfo div > span:first-child {
    width: 7rem;
  }

  #producePredictionPanel {
    margin-top: .6rem;
  }

  .mat-expansion-panel-body {
    padding: 0 4px 16px
  }

  #doubleAppBonusPanel {
    margin-top: 1rem;
    margin-left: unset;
  }

  .resourceCol {
    width: 48%;
    text-align: center;
    margin-top: 0;
  }

  .resourceTotal {
    text-align: left;
  }

  .lastUpdated {
    line-height: .8rem;
    margin-top: .8rem;
    margin-bottom: .8rem;
  }
    .lastUpdated .mat-icon {
    }
    .lastUpdated span {
      margin-top: 0.2rem;
      display: inline-block;
    }

  .filterControls {
    margin-bottom: .8rem;
  }
  .tableFilter {
    margin-bottom: 8px
  }

  .activeFilter {
    margin: 0 2rem 0 0;
    font-size: .8rem;
  }

  .filterIcon {
    font-size: 1.2rem;
  }

  #totalProducePanel .mat-expansion-panel-body {
    padding-left: 18px
  }

  .rented {
    margin-top: 0;
    position: relative;
    display: inline-block;
    width: 40px;
    margin-right: 6px;
    margin-left: 0px;
  }

  .toRent, .salepos {
    font-size: .7rem;
    width: 50px;
    margin-left: -28px;
    margin-top: 40px;
    white-space: nowrap;
  }

    .toRent:before, .salepos:before {
      width: 54px;
      height: 36px;
      margin-top: -17px;
      margin-left: -2px;
    }

  .rented {
    margin-left: -30px;
  }

  .staminaOutImg, .activeProduce {
    left: 4px;    
    font-size: 26px;
    width: 0.8rem;
    padding: 9px 2px;
    vertical-align: middle;
    margin-top: -30px;
    border: 0;
    box-shadow: none;
  }
  .staminaOutImg{
    margin-top:-34px;
    left: 0
  }

  .rowWarning {
    white-space: nowrap;
  }

    .rowWarning span {
      display: inline-block;
    }

  .poiBonus {
    margin-left: 52px;
    right: unset;
  }

  .rankEff {
    width: 3.2rem;
  }

  th.mat-mdc-header-cell:first-of-type, td.mat-mdc-cell:first-of-type, td.mat-mdc-footer-cell:first-of-type {
    padding-left: 1rem;
    padding-right: 0.2rem;
  }


  td.mat-column-name {
    min-width: 4rem;
    max-width: 5rem;
    padding-bottom: .1rem;
    padding-right: .3rem;
    padding-top: .2rem;
  }

    td.mat-column-name a {
      padding-left: 0;
      padding-bottom: 0;
    }

      td.mat-column-name a span {
        width: 4rem;
        padding-left: 0;
      }

  td.mat-column-con {
    text-indent: .3rem;
  }

  td.mat-column-dis {
    padding-right: .3rem;
    text-indent: 0;
    text-align: center
  }

    td.mat-column-dis a {
    }

    td.mat-column-dis .districtTax {
      margin-left: -10px;
    }

      td.mat-column-dis .districtTax span {
        margin-left: 0;
      }

 
  td.mat-column-ip_t {
    min-width: 5rem;
    text-align: left;    
  }
    td.mat-column-ip_t span {
      display: inline-block;
      line-height: 1.4rem;
    }
    td.mat-column-ip_t span:first-child {
      margin-right: 4px;
      text-wrap: nowrap;
    }

  .magnifyHistoryPosition {
    margin-top: 10px;
    margin-left: 4px;
  }
  .magnifyHistoryIcon {
    margin-top: -10px;  
  }
  td.mat-mdc-cell a.officeMagify {
    position: relative;
    text-align: center;
    display: block;
    margin: 8px 0 14px 12px;    
  }



  .table-container{
    margin-left: 3px;
  }
  th.mat-mdc-header-cell, td.mat-mdc-cell {
    font-size: 12px;
    padding-bottom: 4px;
    padding-top: 4px;
  }
  th .mat-badge-content .mat-badge-active {
    top: -12px
  }
  .mat-mdc-table .mdc-data-table__row {
    height: 120px;
  }

  td.mat-column-rank {
    padding-left: 0;
    min-width: 3.4rem;
  }
    td.mat-column-rank .rowWarning {
      margin-top: -8px;
      margin-left: -42px;
    }

  .mobileVisible span:first-child {
    font-weight: 400;
    color: goldenrod;
  }


  th > div > div {
    margin-left: 0;
  }

  .showIPAlertPosition {
    position: absolute;
    margin-left: -22px;
    margin-top: 30px;
  }

}
